<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

    <body>

        <button th:fragment="saveButton" class="btn btn-outline-info btn-block font-weight-bold my-2" type="submit">
            Save
        </button>

        <div th:fragment="addButton(action)">
            <a class="btn btn-outline-info btn-sm my-2 px-5 float-right" th:href="@{/admin/{param}(param=${action})}">Add</a>
        </div>

        <div th:fragment="purchaseButton(subject,action)">
            <a class="btn btn-outline-info btn-sm my-2 btn-block" th:href="@{/{param1}/{param2}(param1=${subject},param2=${action})}">Purchase</a>
        </div>

        <!-- backend errors -->
        <div th:fragment="backendValidationErrors" class="mt-1" th:if="${#fields.hasErrors()}">
            <div class="alert alert-danger alert-dismissible fade show mb-2">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Server Validation Error: </strong><span th:text="#{validation.generic}"></span>
            </div>
        </div>

        <!-- backend field errors -->
        <div th:fragment="backendValidationFieldErrors(field)" class="mt-n2" th:if="${#fields.hasErrors(field)}">
            <div class="alert alert-danger alert-dismissible fade show mb-1" th:each="error : ${#fields.errors(field)}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Error: </strong><span th:text="${error}"></span>
            </div>
        </div>

        <!-- pagination links -->
        <div th:fragment="paginationLinks" class="d-flex justify-content-center" id="pagination">
            <a class="btn btn-outline-info mx-1" id="pl-1">1</a>
            <a class="btn btn-outline-info mx-1" id="pl-2">2</a>
            <a class="btn btn-outline-info mx-1" id="pl-3">3</a>
            <a class="btn btn-outline-info mx-1" id="pl-4">4</a>
            <a class="btn btn-outline-info mx-1" id="pl-5">5</a>
            <a class="btn btn-outline-info mx-1" id="pl-6">6</a>
            <a class="btn btn-outline-info mx-1" id="pl-7">7</a>
        </div>

        <!-- pagination legend -->
        <p class="my-0" th:fragment="paginationLegend">
            <small>
                from <span class="paginationBegin">1</span> to <span class="paginationEnd">30</span> of <span class="paginationTotal">5000</span>
            </small>
        </p>

        <!-- pagination MVC variables -->
        <script th:fragment="paginationMvcVariables">
            let totalElements = [[${pageOfBooks.totalElements}]];
            let totalPages = [[${pageOfBooks.totalPages}]];
            let pageIndex = [[${pageOfBooks.number}]];
            let numberOfElements = [[${pageOfBooks.numberOfElements}]];
            let pageSize = [[${pageOfBooks.size}]];
        </script>

    </body>

</html>