<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">

    <head th:fragment="head(title)">
        <meta charset="UTF-8">
        <title th:text="${title}"></title>
        <link type="text/css" rel="stylesheet" th:href="@{/css/fmstyle.css}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/9902891181.js" crossorigin="anonymous"></script>
    </head>

    <body>

        <!-- Main header -->
        <div class="row" th:fragment="header">
            <div class="col-sm-12">
                <header>
                    <!-- NavBar -->
                    <nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
                        <!-- Brand -->
                        <a class="navbar-brand" th:href="@{/home}">
                            <img class="rounded-circle" th:src="@{/images/logo.png}" style="width:32px;height:32px;">
                        </a>
                        <!-- Toggler/collapsibe Button -->
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <!-- Navbar links -->
                        <div class="collapse navbar-collapse" id="collapsibleNavbar">
                            <ul class="navbar-nav mr-auto">
                                <!--public links-->
                                <li class="nav-item">
                                    <a class="nav-link text-white font-italic" th:href="@{/home}">FirstMarket</a>
                                </li>
                                <!--user links-->
                                <li class="nav-item" sec:authorize="isAuthenticated() && !hasRole('ADMIN')">
                                    <a class="nav-link text-white font-weight-bold" th:href="@{/orders}">My Purchases</a>
                                </li>
                                <li class="nav-item dropdown" sec:authorize="isAuthenticated() && !hasRole('ADMIN')">
                                    <a class="nav-link dropdown-toggle text-white font-weight-bold" href="#" data-toggle="dropdown">My Account</a><!--id="navbardrop"-->
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" th:href="@{/user/profileForm}">Edit Profile</a>
                                        <a class="dropdown-item" th:href="@{/user/editEmail}">Edit Email</a>
                                        <a class="dropdown-item" th:href="@{/editPassword}">Edit Password</a>
                                        <a class="dropdown-item" th:href="@{/user/deleteUser}">Delete Account</a>
                                    </div>
                                </li>
                                <!--admin links-->
                                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                                    <a class="nav-link text-white font-weight-bold" th:href="@{/books}">Books</a>
                                </li>
                                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                                    <a class="nav-link text-white font-weight-bold" th:href="@{/admin/categories}">Categories</a>
                                </li>
                                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                                    <a class="nav-link text-white font-weight-bold" th:href="@{/admin/images}">Images</a>
                                </li>
                                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                                    <a class="nav-link text-white font-weight-bold" th:href="@{/admin/users}">Users</a>
                                </li>
                                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                                    <a class="nav-link text-white font-weight-bold" th:href="@{/orders}">Orders</a>
                                </li>
                                <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                                    <a class="nav-link dropdown-toggle text-white font-weight-bold" href="#" data-toggle="dropdown">Settings</a><!--id="navbardrop"-->
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" th:href="@{/editPassword}">Edit Password</a>
                                    </div>
                                </li>
                            </ul>
                            <ul class="navbar-nav">
                                <!--user greeting-->
                                <li class="navbar-text" sec:authorize="isAuthenticated() && !hasRole('ADMIN')">
                                    <small class="text-white">Hi <span th:text="${(user.profile.firstName.isBlank())? 'friend' : user.profile.firstName}"/>!</small>
                                </li>
                                <!--cart-->
                                <li class="nav-item" sec:authorize="isAuthenticated() && !hasRole('ADMIN')">
                                    <a class="nav-link" th:href="@{/user/cart}" data-toggle="tooltip" title="View Cart">
                                            <span class="fa-stack has-badge mx-2" id="cartIcon" th:data-count="${user.cart.size}">
                                                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                                <i class="fa fa-shopping-cart fa-stack-2x info-over-secondary"></i>
                                            </span>
                                    </a>
                                </li>
                                <!--admin greeting-->
                                <li class="navbar-text" sec:authorize="hasRole('ADMIN')">
                                    <small class="text-info font-weight-bold">Admin</small>
                                </li>
                            </ul>
                            <!--logout-->
                            <form class="form-inline p-2" sec:authorize="isAuthenticated()" th:action="@{/logout}" method="POST" id="logoutForm" action="#">
                                <button class="btn btn-outline-info btn-sm mx-2" type="submit">
                                    <small class="font-weight-bold text-white">Logout<i class="fas fa-sign-out-alt ml-2"></i></small>
                                </button>
                            </form>
                            <!--login-->
                            <a class="btn btn-outline-info btn-sm mx-2" sec:authorize="!isAuthenticated()" th:href="@{/login}">
                                <small class="font-weight-bold text-white">Login<i class="fas fa-sign-in-alt ml-2"></i></small>
                            </a>
                        </div>
                    </nav>
                </header>
            </div>
        </div>

        <!-- Secondary navbar with main categories -->
        <div class="row" th:fragment="mainCatsNavBar">
            <div class="col-sm-12">
                <!-- NavBar -->
                <nav class="navbar navbar-expand-sm p-0 m-0 navbar-dark" style="background-color:#e9ecef">
                    <!-- Toggler/collapsibe Button -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainCatsNavBar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- Navbar links -->
                    <div class="collapse navbar-collapse" id="mainCatsNavBar">
                        <ul class="navbar-nav">
                            <li class="nav-item" th:each="cat,stats : ${mainCategories}">
                                <a th:if="${stats.index lt __${@environment.getProperty('fm.front-end.common-components.num-of-direct-main-categories')}__}" class="categoryLink btn btn-outline-info btn-sm border-0 rounded-0 py-2" th:href="@{/books?categoryId={categoryId}(categoryId=${cat.id})}" th:text="${cat.name}">Category Name</a>
                            </li>
                            <li th:if="${mainCategories.size() gt __${@environment.getProperty('fm.front-end.common-components.num-of-direct-main-categories')}__}" class="nav-item dropdown">
                                <a class="py-2 dropdown-toggle btn btn-sm btn-outline-info border-0 rounded-0" href="#" data-toggle="dropdown">More Categories</a>
                                <div class="dropdown-menu">
                                    <a th:if="${stats.index ge __${@environment.getProperty('fm.front-end.common-components.num-of-direct-main-categories')}__ && stats.index lt __${@environment.getProperty('fm.front-end.common-components.num-of-main-categories')}__}" class="dropdown-item categoryLink btn-sm" th:each="cat,stats : ${mainCategories}" th:href="@{/books?categoryId={categoryId}(categoryId=${cat.id})}" th:text="${cat.name}">Category Name</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        <!-- Title -->
        <div class="row" th:fragment="title(text)">
            <div class="col-sm-12 bg-white">
                <h2 class="text-center text-dark my-4" th:text="${text}"></h2>
            </div>
        </div>

        <!-- snackbar -->
        <div th:fragment="snackbar" id="snackbar">Book successfully added to user cart</div>

        <!-- Save button -->
        <button th:fragment="saveButton" class="btn btn-info px-5 my-3" type="submit">Save</button>

        <!-- Delete account button -->
        <button th:fragment="deleteAccountButton" class="btn btn-danger px-5 my-3" type="submit">Delete Account</button>

        <!-- Cancel button (toBack) -->
        <a th:fragment="cancelButtonToBack" class="btn btn-secondary px-5 my-3 text-white" onclick="window.history.back();">Cancel</a>

        <!-- Cancel button (toHome) -->
        <a th:fragment="cancelButtonToHome" class="btn btn-secondary px-5 my-3 text-white" th:href="@{/home}">Cancel</a>

        <!-- host address -->
        <i th:fragment="host-address" id="host" th:attr="host-address=${@environment.getProperty('fm.host.address')}"></i>

        <!-- contactUs -->
        <span th:fragment="contactUs">If you need help, please contact us at <span class="text-info" th:text="${@environment.getProperty('spring.mail.username')}">email</span></span>

        <div th:fragment="addButton(action)">
            <a class="btn btn-outline-info btn-sm my-2 px-5 float-right" th:href="@{/admin/{param}(param=${action})}">Add</a>
        </div>

        <!-- author string -->
        <span th:fragment="author" th:text="(${author.lastName.isBlank()}? '-' : ${author.lastName}) + ', ' + (${author.firstName.isBlank()}? '-' : ${author.firstName})"></span>

        <!-- login error -->
        <div th:fragment="loginError" class="my-2" th:if="${param.error != null}">
            <div class="alert alert-danger alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <small><strong>Error: </strong><span th:text="${session[SPRING_SECURITY_LAST_EXCEPTION]}">error</span></small>
            </div>
        </div>

        <!-- backend request param error -->
        <div th:fragment="backendRequestParamError" class="my-2" th:if="${message != null}">
            <div class="alert alert-danger alert-dismissible fade show mb-1">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <small><strong>Error: </strong><span th:text="${message}"></span></small>
            </div>
        </div>

        <!-- backend generic object-field errors -->
        <div th:fragment="backendGenericObjectFieldErrors" class="mt-1" th:if="${#fields.hasErrors()}">
            <div class="alert alert-danger alert-dismissible fade show mb-2">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <small><strong>Server Validation Error: </strong><span th:text="#{validation.generic}"></span></small>
            </div>
        </div>

        <!-- backend specific object-field errors -->
        <div th:fragment="backendSpecificObjectFieldErrors(field)" class="mt-n2" th:if="${#fields.hasErrors(field)}">
            <div class="alert alert-danger alert-dismissible fade show mb-1" th:each="error : ${#fields.errors(field)}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <small><strong>Error: </strong><span th:text="${error}"></span></small>
            </div>
        </div>

        <!-- deleting modal -->
        <div th:fragment="deletingModal(entity)" class="modal fade" id="theModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        You are about to perform a single <span th:text="${entity}">entity</span> removal. Do you want to proceed?
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-info text-white" id="theModalYes" href="#">Yes, Delete <span th:text="${entity}">entity</span></a>
                        <button class="btn btn-secondary" data-dismiss="modal">No, Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- modal action -->
        <i th:fragment="modal-action(action)" id="action" th:attr="modal-action=${action}"></i>

        <!-- pagination links -->
        <div th:fragment="paginationLinks" class="d-flex justify-content-center" id="pagination">
            <a class="btn btn-outline-info mx-1" id="pl-1">1</a>
            <a class="btn btn-outline-info mx-1" id="pl-2">2</a>
            <a class="btn btn-outline-info mx-1" id="pl-3">3</a>
            <a class="btn btn-outline-info mx-1" id="pl-4">4</a>
            <a class="btn btn-outline-info mx-1" id="pl-5">5</a>
            <a class="btn btn-outline-info mx-1" id="pl-6">6</a>
            <a class="btn btn-outline-info mx-1" id="pl-7">7</a>
        </div>

        <!-- pagination legend -->
        <p class="my-0" th:fragment="paginationLegend">
            <small class="font-weight-lighter">
                from <span class="paginationBegin">1</span> to <span class="paginationEnd">30</span> of <span class="paginationTotal">5000</span>
            </small>
        </p>

        <!-- pagination MVC variables -->
        <script th:fragment="paginationMvcVariables">
            let totalElements = [[${pageOfEntities.totalElements}]];
            let totalPages = [[${pageOfEntities.totalPages}]];
            let pageIndex = [[${pageOfEntities.number}]];
            let numberOfElements = [[${pageOfEntities.numberOfElements}]];
            let pageSize = [[${pageOfEntities.size}]];
        </script>

        <!-- footer -->
        <footer class="footer bg-light text-center py-2" th:fragment="footer">
            <span class="info-copyrigth"><a class="text-info" href="https://github.com/misrraimsp/firstmarket" style="text-decoration: none">FirstMarket Project</a> © 2020</span>
        </footer>

    </body>

</html>