<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">

    <head th:fragment="head(title)">
        <meta charset="UTF-8">
        <title th:text="${title}"></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css" integrity="sha384-ICB8i/maQ/5+tGLDUEcswB7Ch+OO9Oj8Z4Ov/Gs0gxqfTgLLkD3F43MhcEJ2x6/D" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap" integrity="sha384-44LpgvTLiHI85YeNp56Lm8JYmDtP6cbULv4cgD6eAszycw3kPPJ8fmEW4gwckzWF" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/fmstyle.css}" type="text/css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
                integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/9902891181.js"
                integrity="sha384-BMqrD/sYB325yWlZdfm3hmJIKdmd+hPoenqE0vWeVUWbrZZTt7J3KdcJT7vfMMu2"
                crossorigin="anonymous"></script>
        <script src="https://js.stripe.com/v3/"
                integrity="sha384-HdnbDQxDvTgeh4pIa5B92LHkCJkbN/XJYhmwXZumFXMSIqVc8OgMM6YU8NjVmbzB"
                crossorigin="anonymous"></script>
    </head>

    <body>

        <!-- Main header -->
        <div class="row" th:fragment="header">
            <div class="col-sm-12">
                <header>
                    <!-- NavBar -->
                    <nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
                        <!-- Brand -->
                        <a class="navbar-brand" th:href="@{/home}">
                            <img class="img-32" th:src="@{/images/logo.jpg}">
                        </a>
                        <!-- Toggler/collapsibe Button -->
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <!-- Navbar links -->
                        <div class="collapse navbar-collapse" id="collapsibleNavbar">
                            <ul class="navbar-nav mr-auto">
                                <!--public links-->
                                <li class="nav-item">
                                    <a class="nav-link text-white font-weight-bold" th:href="@{/books}">Our Books</a>
                                </li>
                                <!--user links-->
                                <li class="nav-item" sec:authorize="isAuthenticated() && !hasRole('ADMIN')">
                                    <a class="nav-link text-white font-weight-bold" th:href="@{/orders}">My Purchases</a>
                                </li>
                                <li class="nav-item" sec:authorize="isAuthenticated() && !hasRole('ADMIN')">
                                    <a class="nav-link text-white font-weight-bold" th:href="@{/user/profileForm}">My Profile</a>
                                </li>
                                <!--admin links-->
                                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                                    <a class="nav-link text-white font-weight-bold" th:href="@{/orders}">Orders</a>
                                </li>
                                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                                    <a class="nav-link text-white font-weight-bold" th:href="@{/admin/users}">Users</a>
                                </li>
                                <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                                    <a class="nav-link dropdown-toggle text-white font-weight-bold" href="#" data-toggle="dropdown">Settings</a><!--id="navbardrop"-->
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" th:href="@{/admin/categories}">Edit Categories</a>
                                        <a class="dropdown-item" th:href="@{/admin/images}">Edit Images</a>
                                        <a class="dropdown-item" th:href="@{/editPassword}">Change Password</a>
                                    </div>
                                </li>
                            </ul>
                            <ul class="navbar-nav">
                                <!--user greeting-->
                                <li class="navbar-text" sec:authorize="isAuthenticated() && !hasRole('ADMIN')">
                                    <small class="text-white">Hi <span th:text="${(user.profile.firstName.isBlank())? 'friend' : user.profile.firstName}"/>!</small>
                                </li>
                                <!--cart-->
                                <li class="nav-item" sec:authorize="isAuthenticated() && !hasRole('ADMIN')">
                                    <a class="nav-link" th:href="@{/user/cart}" data-toggle="tooltip" title="View Cart">
                                            <span class="fa-stack has-badge mx-2" id="cartIcon" th:data-count="${user.cart.size}">
                                                <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                                <i class="fa fa-shopping-cart fa-stack-2x info-over-secondary"></i>
                                            </span>
                                    </a>
                                </li>
                                <!--admin greeting-->
                                <li class="navbar-text" sec:authorize="hasRole('ADMIN')">
                                    <small class="text-info font-weight-bold">Admin</small>
                                </li>
                            </ul>
                            <!--logout-->
                            <form class="form-inline p-2" sec:authorize="isAuthenticated()" th:action="@{/logout}" method="POST" id="logoutForm" action="#">
                                <button class="btn btn-outline-info btn-sm mx-2" type="submit">
                                    <small class="font-weight-bold text-white">Logout<i class="fas fa-sign-out-alt ml-2"></i></small>
                                </button>
                            </form>
                            <!--login-->
                            <a class="btn btn-outline-info btn-sm mx-2" sec:authorize="!isAuthenticated()" th:href="@{/login}">
                                <small class="font-weight-bold text-white">Login<i class="fas fa-sign-in-alt ml-2"></i></small>
                            </a>
                        </div>
                    </nav>
                </header>
            </div>
        </div>

        <!-- Secondary navbar with main categories -->
        <div class="row" th:fragment="mainCatsNavBar">
            <div class="col-sm-12">
                <!-- NavBar -->
                <nav class="navbar navbar-expand-sm p-0 m-0 navbar-dark">
                    <!-- Toggler/collapsibe Button -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainCatsNavBar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- Navbar links -->
                    <div class="collapse navbar-collapse" id="mainCatsNavBar">
                        <ul class="navbar-nav">
                            <li class="nav-item" th:each="cat,stats : ${mainCategories}">
                                <a th:if="${stats.index lt __${@environment.getProperty('fm.front-end.common-components.num-of-direct-main-categories')}__}" class="categoryLink btn btn-outline-info border-0 rounded-0 py-2" th:href="@{/books?categoryId={categoryId}(categoryId=${cat.id})}" th:text="${cat.name}">Category Name</a>
                            </li>
                            <li th:if="${mainCategories.size() gt __${@environment.getProperty('fm.front-end.common-components.num-of-direct-main-categories')}__}" class="nav-item dropdown">
                                <a class="py-2 dropdown-toggle btn btn-outline-info border-0 rounded-0" href="#" data-toggle="dropdown">More Categories</a>
                                <div class="dropdown-menu">
                                    <a th:if="${stats.index ge __${@environment.getProperty('fm.front-end.common-components.num-of-direct-main-categories')}__ && stats.index lt __${@environment.getProperty('fm.front-end.common-components.num-of-main-categories')}__}" class="dropdown-item categoryLink" th:each="cat,stats : ${mainCategories}" th:href="@{/books?categoryId={categoryId}(categoryId=${cat.id})}" th:text="${cat.name}">Category Name</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        <!-- Title -->
        <div class="row" th:fragment="title(text)">
            <div class="col-sm-12">
                <h2 class="text-center text-dark my-4" th:text="${text}"></h2>
            </div>
        </div>

        <!-- Title 1 10 1 -->
        <div class="row mt-5 mb-3" th:fragment="title_1_10_1(text)">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <h2 class="text-dark font-weight-light" th:text="${text}">Title</h2>
                <hr/>
            </div>
            <div class="col-sm-1"></div>
        </div>

        <!-- Title 2 8 2 -->
        <div class="row mt-5 mb-3" th:fragment="title_2_8_2(text)">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h2 class="text-dark font-weight-light" th:text="${text}">Title</h2>
                <hr/>
            </div>
            <div class="col-sm-2"></div>
        </div>

        <!-- snackbar -->
        <div th:fragment="snackbar" id="snackbar" th:text="${@environment.getProperty('fm.front-end.common-components.snackbar')}">snackbar</div>

        <!-- submit button -->
        <button th:fragment="submitButton(text)" class="btn btn-outline-info px-5" type="submit"><span th:text="${text}"></span></button>

        <!-- cancel button (toBack) -->
        <a th:fragment="cancelButtonToBack(text)" class="backButton btn btn-outline-secondary px-3" href="#"><small th:text="${text}"></small></a>

        <!-- cancel button (toHome) -->
        <a th:fragment="cancelButtonToHome(text)" class="btn btn-outline-secondary px-3" th:href="@{/home}"><small th:text="${text}"></small></a>

        <!-- host address -->
        <i th:fragment="host-address" id="host" th:attr="host-address=${@environment.getProperty('fm.host.address')}"></i>

        <!-- hidden login link -->
        <a th:fragment="login-link" class="display-none" th:href="@{/login}" id="loginLink"></a>

        <!-- contactUs -->
        <span th:fragment="contactUs">If you need help, please contact us at <span class="text-info" th:text="${@environment.getProperty('spring.mail.username')}">email</span></span>

        <div th:fragment="addButton(action)">
            <a class="btn btn-outline-info btn-sm my-2 px-5 float-right" th:href="@{/admin/{param}(param=${action})}">Add</a>
        </div>

        <!-- author string -->
        <span th:fragment="author" th:text="(${author.lastName.isBlank()}? '-' : ${author.lastName}) + ', ' + (${author.firstName.isBlank()}? '-' : ${author.firstName})"></span>

        <!-- login error -->
        <div th:fragment="loginError" class="my-2" th:if="${param.error != null}">
            <div class="alert alert-danger alert-dismissible fade show">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <small><strong>Error: </strong><span th:text="${session[SPRING_SECURITY_LAST_EXCEPTION]}">error</span></small>
            </div>
        </div>

        <!-- backend request param error -->
        <div th:fragment="backendRequestParamError" class="my-2" th:if="${message != null}">
            <div class="alert alert-danger alert-dismissible fade show mb-1">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <small><strong>Error: </strong><span th:text="${message}"></span></small>
            </div>
        </div>

        <!-- backend generic object-field errors -->
        <div th:fragment="backendGenericObjectFieldErrors" class="mt-1" th:if="${#fields.hasErrors()}">
            <div class="alert alert-danger alert-dismissible fade show mb-2">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <small><strong>Server Validation Error: </strong><span th:text="#{validation.generic}"></span></small>
            </div>
        </div>

        <!-- backend specific object-field errors -->
        <div th:fragment="backendSpecificObjectFieldErrors(field)" class="mt-n2" th:if="${#fields.hasErrors(field)}">
            <div class="alert alert-danger alert-dismissible fade show mb-1" th:each="error : ${#fields.errors(field)}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <small><strong>Error: </strong><span th:text="${error}"></span></small>
            </div>
        </div>

        <!-- deleting modal -->
        <div th:fragment="deletingModal(entity)" class="modal fade" id="theModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        You are about to perform a single <span th:text="${entity}">entity</span> removal. Do you want to proceed?
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-info text-white" id="theModalYes" href="#">Yes, Delete <span th:text="${entity}">entity</span></a>
                        <button class="btn btn-secondary" data-dismiss="modal">No, Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- modal action -->
        <i th:fragment="modal-action(action)" id="action" th:attr="modal-action=${action}"></i>

        <!-- pagination data -->
        <i th:fragment="paginationData" id="paginationData" th:attr="totalElements=${pageOfEntities.totalElements},totalPages=${pageOfEntities.totalPages},pageIndex=${pageOfEntities.number},numberOfElements=${pageOfEntities.numberOfElements},pageSize=${pageOfEntities.size}"></i>

        <!-- pagination trigger -->
        <a th:fragment="paginationTrigger" class="display-none" id="paginationTrigger"></a>

        <!-- pagination links -->
        <div th:fragment="paginationLinks" class="d-flex justify-content-center" id="pagination">
            <a class="btn btn-outline-info mx-1" id="pl-1">1</a>
            <a class="btn btn-outline-info mx-1" id="pl-2">2</a>
            <a class="btn btn-outline-info mx-1" id="pl-3">3</a>
            <a class="btn btn-outline-info mx-1" id="pl-4">4</a>
            <a class="btn btn-outline-info mx-1" id="pl-5">5</a>
            <a class="btn btn-outline-info mx-1" id="pl-6">6</a>
            <a class="btn btn-outline-info mx-1" id="pl-7">7</a>
        </div>

        <!-- pagination legend -->
        <p class="my-0" th:fragment="paginationLegend">
            <small class="font-weight-lighter">
                from <span class="paginationBegin">1</span> to <span class="paginationEnd">30</span> of <span class="paginationTotal">5000</span>
            </small>
        </p>

        <!-- pagination page size options -->
        <select th:fragment="paginationPageSizeOptions" class="max-width-33 custom-select custom-select-sm text-secondary" id="paginationPageSize">
            <option th:each="ps : ${T(misrraimsp.uned.pfg.firstmarket.config.staticParameter.PageSize).values()}"
                    th:value="${ps.ordinal()}"
                    th:text="${ps.size}"
                    th:selected="${ps.size eq pageOfEntities.pageable.pageSize}">
            </option>
        </select>

        <!-- pagination page size label -->
        <p th:fragment="paginationPageSizeLabel" class="my-0 ml-2">
            <small class="text-dark font-weight-lighter">Page size</small>
        </p>

        <!-- pagination sort label -->
        <p th:fragment="paginationSortLabel" class="my-0 mr-2">
            <small class="text-dark font-weight-lighter">Sort by</small>
        </p>

        <!-- footer -->
        <footer class="footer bg-white text-center pb-3" th:fragment="footer">
            <hr class="hr-footer"/>
            <span><a class="no-decoration text-info" href="https://github.com/misrraimsp/firstmarket">FirstMarket Project</a> © 2020</span>
        </footer>

    </body>

</html>