<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">

    <head th:fragment="head(title)">
        <meta charset="UTF-8">
        <title th:text="${title}"></title>
        <link type="text/css" rel="stylesheet" th:href="@{fmstyle.css}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/9902891181.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <div class="row" th:fragment="header(userName, numItems)">
            <div class="col-lg-12">
                <header>
                    <!-- NavBar -->
                    <nav class="navbar navbar-expand-sm bg-dark"><!--navbar-dark-->
                        <!-- Brand -->
                        <a class="navbar-brand" th:href="@{/home}">
                            <img th:src="@{/images/logo.png}" style="width:32px;height:32px;">
                        </a>

                        <!-- Toggler/collapsibe Button -->
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <!-- Navbar links -->
                        <div class="collapse navbar-collapse" id="#collapsibleNavbar">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class="nav-link font-weight-bold" th:href="@{/home}">Home</a>
                                </li>
                                <!-- Dropdown (not Admin) -->
                                <div sec:authorize="isAuthenticated() && !hasRole('ADMIN')">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">My Account</a><!--id="navbardrop"-->
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" th:href="@{/user/editProfile}">Profile</a>
                                            <a class="dropdown-item" th:href="@{/user/purchases}">Purchases</a>
                                            <a class="dropdown-item" th:href="@{/user/editPassword}">Edit Password</a>
                                        </div>
                                    </li>
                                </div>
                                <!-- Dropdown (Admin) -->
                                <div sec:authorize="hasRole('ADMIN')">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle text-info" href="#" data-toggle="dropdown">Admin</a><!--id="navbardrop"-->
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item text-info" th:href="@{/admin/books}">Books</a>
                                            <a class="dropdown-item text-info" th:href="@{/admin/categories}">Categories</a>
                                            <a class="dropdown-item text-info" th:href="@{/admin/images}">Images</a>
                                            <a class="dropdown-item text-info" th:href="@{/admin/users}">Users</a>
                                            <a class="dropdown-item text-info" th:href="@{/admin/purchases}">Purchases</a>
                                        </div>
                                    </li>
                                </div>
                            </ul>
                            <div sec:authorize="isAuthenticated()">
                                <div class="navbar-text p-2 text-primary"><small><span sec:authentication="name"/></small></div>
                            </div>
                            <div>
                                <a th:href="@{/user/cart}" data-toggle="tooltip" title="View Cart">
                                    <span class="fa-stack has-badge mx-2" data-count="${user.cart.items.size}">
                                        <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                                        <i class="fa fa-shopping-cart fa-stack-2x primary-over-dark"></i>
                                    </span>
                                </a>
                            </div>
                            <div sec:authorize="!isAuthenticated()">
                                <a class="btn btn-outline-primary btn-sm font-weight-bold mx-2" th:href="@{/login}" data-toggle="tooltip" title="Login">
                                    Login<i class="fas fa-sign-in-alt ml-2"></i>
                                </a>
                            </div>
                            <div sec:authorize="isAuthenticated()">
                                <form class="form-inline my-2 my-lg-0 p-2" th:action="@{/logout}" method="POST" id="logoutForm" action="#">
                                    <button class="btn btn-outline-primary btn-sm font-weight-bold mx-2" type="submit" data-toggle="tooltip" title="Logout">
                                        Logout<i class="fas fa-sign-out-alt ml-2"></i>
                                    </button>
                                </form>
                            </div>

                        </div>
                    </nav>
                </header>
            </div>
        </div>

        <div class="row" th:fragment="jumbotron">
            <div class="col-lg-12 bg-warning">
                <div class="jumbotron jumbotron-fluid mb-0">
                    <h1 class="text-center">
                        <span class="font-weight-bold">firstmarket</span><small>, where books belong</small>
                    </h1>
                    <div class="text-center" sec:authorize="hasRole('ADMIN')">
                        <h6><code class="text-info font-italic">
                            - a great power comes with a great responsibility -
                        </code></h6>
                    </div>
                </div>
            </div>
        </div>

        <div th:fragment="underHead(text)">
            <h2 class="text-center my-2" th:text="${text}"></h2>
        </div>

        <div class="row" th:fragment="footer">
            <div class="col-sm-12">
                <footer class="bg-light text-center">
                    <span class="info-copyrigth"><a href="https://github.com/misrraimsp/firstmarket">firstmarket</a> © 2020</span>
                </footer>
            </div>
        </div>
    </body>

</html>