
/******************************* accordion */

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/********************************/

.text-responsive {
    /*font-size: calc(75% + 1vw + 1vh);*/
    font-size: calc(75% + .25vw + 0vh);
}

.card-image {
    width: calc(75% + .25vw + 0vh);
    height: 150px;
}

.book-detail-image {
    width: auto;
    height: auto;
}

.fa-stack[data-count]::after{
    position:absolute;
    right:23%;
    top:0%;
    content: attr(data-count);
    font-size:70%;
    padding:.35em;
    border-radius:999px;
    line-height:.75em;
    color: white;
    color: #0275d8; /* bs4 primary */
    text-align:center;
    min-width:1em;
    font-weight:bold;
    background: white;

}
.fa-circle {
    color: #0275d8; /* bs4 primary */
}

.primary-over-dark {
    color: #0275d8; /* bs4 primary */
    background: #343a40; /* bs4 dark */
}

.info-over-dark {
    color: #17a2b8; /* bs4 info */
    background: #343a40; /* bs4 dark */
}



