
/******************************* accordion */

.accordion {
    background-color: #e9ecef; /* BS4 jumbotron */
    color: #6c757d; /* BS4 secondary */
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.accordion.active, .accordion:hover {
    background-color: #6c757d; /* BS4 secondary */
    color: white;
}

.accordion:after {
    content: '\002B';
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.accordion.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/********************************/

.text-responsive {
    /*font-size: calc(75% + 1vw + 1vh);*/
    font-size: calc(75% + .25vw + 0vh);
}

.card-image {
    width: calc(75% + .25vw + 0vh);
    height: 150px;
}

.book-detail-image {
    width: auto;
    height: auto;
}

.fa-stack[data-count]::after{
    position:absolute;
    right:23%;
    top:0%;
    content: attr(data-count);
    font-size:70%;
    padding:.35em;
    border-radius:999px;
    line-height:.75em;
    /*color: white;
    color: #0275d8;  bs4 primary */
    color: #17a2b8; /* bs4 info */
    text-align:center;
    min-width:1em;
    font-weight:bold;
    background: white;

}
.fa-circle {
    /*color: #0275d8;  bs4 primary */
    color: #17a2b8; /* bs4 info */
}

.primary-over-dark {
    color: #0275d8; /* bs4 primary */
    background: #343a40; /* bs4 dark */
}

.primary-over-secondary {
    color: #0275d8; /* bs4 primary */
    background: #6c757d; /* BS4 secondary */
}

.info-over-dark {
    color: #17a2b8; /* bs4 info */
    background: #343a40; /* bs4 dark */
}

.info-over-secondary {
    color: #17a2b8; /* bs4 info */
    background: #6c757d; /* BS4 secondary */
}


/******************************* fixed-footer */

.fixed-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/********************************/

/******************************* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #17a2b8; /* bs4-info background color */
    color: #fff; /* White text color */
    font-weight: bold;
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    top: 30px; /* 30px from the top */
    opacity: 0.9;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 0.9;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 0.9;}
}

@-webkit-keyframes fadeout {
    from {top: 30px; opacity: 0.9;}
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 30px; opacity: 0.9;}
    to {top: 0; opacity: 0;}
}
/********************************/

/********************************* Tooltip */
.tooltip > .tooltip-inner {
    background-color: #17a2b8; /* bs4-info color */
    color: #fff; /* white text color */
    padding: 8px;
    font-size: 12px;
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .bs-tooltip-bottom .arrow::before {
    border-bottom-color: #17a2b8 !important; /* bs4-info color */
}
.bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {
    border-top-color: #17a2b8 !important; /* bs4-info color */
}
.bs-tooltip-auto[x-placement^=left] .arrow::before, .bs-tooltip-left .arrow::before {
    border-left-color: #17a2b8 !important; /* bs4-info color */
}
.bs-tooltip-auto[x-placement^=right] .arrow::before, .bs-tooltip-right .arrow::before {
    border-right-color: #17a2b8 !important; /* bs4-info color */
}
/********************************/

/********************************* Stripe */
/* Blue outline on focus */
.StripeElement--focus {
    border-color: #80BDFF;
    outline:0;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
/********************************/

/********************************* BS4 alert-danger like on out-of-stock cart elements */
.out-of-stock {
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
/********************************/

