
/******************************* footer (and font and pulse) */
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    /*
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Arapey', serif;
    font-family: 'Gentium Basic', serif;
    font-family: 'Gabriela', serif;
    font-family: 'Cormorant', serif;
    font-family: 'Suranna', serif;
    font-family: 'Lora', serif;
    font-family: 'EB Garamond', serif;
    font-family: 'Nanum Myeongjo', serif;

    font-family: 'El Messiri', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Gotu', sans-serif;
    font-family: 'PT Sans', sans-serif;

    font-family: 'Inconsolata', monospace;
    */
    font-family: 'Noto Serif JP', serif;
    /*animation: pulse 20s infinite; pulse*/
}
.fm-content {
    flex: 1 0 auto;
}
.footer {
    flex-shrink: 0;
}

/******************************* pulse
@keyframes pulse {
    0%, 100% {
        background-color: lightblue;
    }
    50% {
        background-color: lightgray;
    }
}*/

/******************************* gradient */
.container-fluid {
    background: linear-gradient(#e9ecef, white);
    /*background: #e9ecef;*/
}

/******************************* card responsiveness */
@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }
}

/******************************* accordion */
.accordion {
    background-color: #f8f9fa; /* BS4 light */
    color: #6c757d; /* BS4 secondary */
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.accordion.active, .accordion:hover {
    background-color: #6c757d; /* BS4 secondary */
    color: white;
}

.accordion:after {
    content: '\002B';
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.accordion.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/********************************/

.fa-stack[data-count]::after{
    position:absolute;
    right:23%;
    top:0%;
    content: attr(data-count);
    font-size:70%;
    padding:.35em;
    border-radius:999px;
    line-height:.75em;
    /*color: white;
    color: #0275d8;  bs4 primary */
    color: #17a2b8; /* bs4 info */
    text-align:center;
    min-width:1em;
    font-weight:bold;
    background: white;

}
.fa-circle {
    /*color: #0275d8;  bs4 primary */
    color: #17a2b8; /* bs4 info */
}

.primary-over-dark {
    color: #0275d8; /* bs4 primary */
    background: #343a40; /* bs4 dark */
}

.primary-over-secondary {
    color: #0275d8; /* bs4 primary */
    background: #6c757d; /* BS4 secondary */
}

.info-over-dark {
    color: #17a2b8; /* bs4 info */
    background: #343a40; /* bs4 dark */
}

.info-over-secondary {
    color: #17a2b8; /* bs4 info */
    background: #6c757d; /* BS4 secondary */
}

/******************************* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #17a2b8; /* bs4-info background color */
    color: #fff; /* White text color */
    font-weight: bold;
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    top: 30px; /* 30px from the top */
    opacity: 0.9;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 0.9;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 30px; opacity: 0.9;}
}

@-webkit-keyframes fadeout {
    from {top: 30px; opacity: 0.9;}
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 30px; opacity: 0.9;}
    to {top: 0; opacity: 0;}
}
/********************************/

/********************************* Tooltip */
.tooltip > .tooltip-inner {
    background-color: #17a2b8; /* bs4-info color */
    color: #fff; /* white text color */
    padding: 8px;
    font-size: 12px;
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .bs-tooltip-bottom .arrow::before {
    border-bottom-color: #17a2b8 !important; /* bs4-info color */
}
.bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {
    border-top-color: #17a2b8 !important; /* bs4-info color */
}
.bs-tooltip-auto[x-placement^=left] .arrow::before, .bs-tooltip-left .arrow::before {
    border-left-color: #17a2b8 !important; /* bs4-info color */
}
.bs-tooltip-auto[x-placement^=right] .arrow::before, .bs-tooltip-right .arrow::before {
    border-right-color: #17a2b8 !important; /* bs4-info color */
}
/********************************/

/********************************* Stripe */
/* Blue outline on focus */
.StripeElement--focus {
    border-color: #80BDFF;
    outline:0;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
/********************************/

/********************************* BS4 alert-danger like on out-of-stock cart elements */
.out-of-stock {
    /*BS4 alert-danger
    background-color: #f8d7da;
    border-color: #f5c6cb;*/
    /*BS4 alert-warning*/
    background-color: #fff3cd;
    border-color: #ffeeba;
}
/********************************/

.left-bordered {
    border-left: 6px solid #17a2b8;
}

