<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head th:replace="fragments::head"></head>
    <body>
        <header th:replace="fragments::header"></header>
        <div class="container">
            <div class="bg-primary text-white text-center">
                <h2 class="font-weight-bold">admin</h2>
                <h5><code class="text-white font-italic">- a great power comes with a great responsibility -</code></h5>
            </div>
            <nav class="navbar navbar-expand-sm bg-light">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/books}">Books Manager</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/categories}">Categories Manager</a>
                    </li>
                    <li class="nav-item">
                        <form  action="#" th:action="@{/logout}" method="POST" id="logoutForm">
                            <input class="btn btn-secondary btn-sm" type="submit" value="Logout"/>
                        </form>
                    </li>
                </ul>
            </nav>
        </div>
        <footer th:replace="fragments::footer"></footer>
    </body>
</html>