<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head th:replace="fragments::head"></head>
    <body>
        <header th:replace="fragments::header"></header>
        <div class="container">
            <h1>Books Manager</h1>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/admin}">Admin</a></li>
                <li class="breadcrumb-item active">Books Manager</li>
            </ul>
            <p><a class="btn btn-primary" th:href="@{/admin/newBook}">new book</a></p>
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th>ISBN</th>
                        <th>Title</th>
                        <th>Category</th>
                        <th/>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="book : ${books}">
                        <td><span th:text="${book.isbn}">isbn</span></td>
                        <td><span th:text="${book.title}">title</span></td>
                        <td><span th:text="${book.category.name}">category</span></td>
                        <td>
                            <a th:href="@{/admin/editBook/{id}(id=${book.id})}" data-toggle="tooltip" title="Edit Book"><i class="fas fa-pen"></i></a>
                            <a th:href="@{/admin/deleteBook/{id}(id=${book.id})}" data-toggle="tooltip" title="Delete Book"><i class='fas fa-trash-alt' style='color:red'></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <footer th:replace="fragments::footer"></footer>
        <script th:replace="fragments::enableTooltips"></script>
    </body>
</html>