<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head th:replace="fragments/components::head('Book Form')"></head>
    <body>
        <div class="container-fluid">
            <!-- header -->
            <div th:replace="fragments/components::header"></div>
            <!-- main categories -->
            <div th:replace="fragments/components::mainCatsNavBar"></div>
            <!-- title -->
            <div th:replace="fragments/components::title(text = 'Book Form')"></div>
            <!-- main content -->
            <div class="row">
                <div class="col-sm-2 bg-white"></div>
                <div class="col-sm-8">
                    <form class="needs-validation" novalidate id="isbnForm" th:action="@{/admin/bookForm}" th:object="${bookForm}" method="POST" enctype="multipart/form-data" action="#">
                        <!--<input type="hidden" th:if="${pn ne null}" name="pn" th:value="${pn}"/>-->
                        <input type="hidden" th:field="*{bookId}"/>
                        <input type="hidden" th:if="${pageNo ne null}" name="pageNo" th:value="${pageNo}"/>
                        <input type="hidden" th:if="${pageSize ne null}" name="pageSize" th:value="${pageSize}"/>
                        <input type="hidden" th:if="${sort ne null}" name="sort" th:value="${sort}"/>
                        <div th:replace="fragments/components::backendGenericObjectFieldErrors"></div>
                        <div class="form-row">
                            <div class="col-sm-6 bg-light">
                                <!-------------------------------------------------------------------------Title-->
                                <div class="form-group">
                                    <label for="title">Title:</label>
                                    <input class="form-control" type="text" th:field="*{title}" id="title" placeholder="enter title" th:pattern="${@environment.getProperty('fm.validation.regex.text-basic')}">
                                    <div class="invalid-feedback">Please fill out this field correctly</div>
                                </div>
                                <div th:replace="fragments/components::backendSpecificObjectFieldErrors('title')"></div>
                                <!-------------------------------------------------------------------------Publisher-->
                                <div class="form-group">
                                    <label for="publisher">Publisher:</label>
                                    <input class="form-control" type="text" th:field="*{publisherName}" id="publisher" placeholder="enter publisher name" th:pattern="${@environment.getProperty('fm.validation.regex.text-basic')}">
                                    <div class="invalid-feedback">Please fill out this field correctly</div>
                                </div>
                                <div th:replace="fragments/components::backendSpecificObjectFieldErrors('publisherName')"></div>
                                <!-------------------------------------------------------------------------Year-->
                                <div class="form-group">
                                    <label for="year">Year of Publication:</label>
                                    <input class="form-control" type="text" th:field="*{year}" id="year" placeholder="enter year" th:pattern="${@environment.getProperty('fm.validation.regex.year')}">
                                    <div class="invalid-feedback">Please fill out this field correctly</div>
                                </div>
                                <div th:replace="fragments/components::backendSpecificObjectFieldErrors('year')"></div>
                                <!-------------------------------------------------------------------------Category-->
                                <div class="form-group">
                                    <label for="category">Category:</label>
                                    <select class="custom-select" th:field="*{categoryId}" id="category">
                                        <option th:each="ic : ${indentedCategories}"
                                                th:value="${ic.id}"
                                                th:text="${ic.name}">
                                        </option>
                                    </select>
                                </div>
                                <!-------------------------------------------------------------------------Stored Image-->
                                <div class="form-group">
                                    <label for="input1">Image:</label>
                                    <select class="custom-select" id="input1" th:field="*{storedImageId}">
                                        <option th:each="imageInfo : ${imagesInfo}"
                                                th:value="${imageInfo.id}"
                                                th:text="${imageInfo.name}">
                                        </option>
                                    </select>
                                </div>
                                <!-------------------------------------------------------------------------New Image-->
                                <div class="form-group">
                                    <!-- stored/new switch -->
                                    <div class="pretty p-default p-round p-thick mb-2">
                                        <input type="checkbox" id="switch"/>
                                        <div class="state p-info-o">
                                            <label for="switch">Select New Image:</label>
                                        </div>
                                    </div>
                                    <!-- new-image input -->
                                    <input class="form-control" type="file" th:field="*{image}" id="input2" disabled accept="image/*" required/>
                                    <div class="invalid-feedback">Please select an image</div>
                                </div>
                                <div th:replace="fragments/components::backendSpecificObjectFieldErrors('image')"></div>
                                <!-------------------------------------------------------------------------Description-->
                                <div class="form-group">
                                    <label for="description">Description:</label>
                                    <textarea class="form-control" rows="5" th:field="*{description}" id="description" placeholder="enter description"></textarea>
                                    <div class="invalid-feedback">Please fill out this field correctly</div>
                                </div>
                                <div th:replace="fragments/components::backendSpecificObjectFieldErrors('description')"></div>
                            </div>
                            <div class="col-sm-6 bg-light">
                                <!-------------------------------------------------------------------------Authors-->
                                <!-- label -->
                                <label>Author/s:</label>
                                <!-- authorsFirstName backend errors -->
                                <div class="mt-n2" th:if="${#fields.hasErrors('authorsFirstName')}">
                                    <div class="alert alert-danger alert-dismissible fade show mb-1" th:each="error : ${#fields.errors('authorsFirstName')}">
                                        <button class="close" type="button" data-dismiss="alert">&times;</button>
                                        <strong>Check first and last name: </strong><span th:text="${error}"></span>
                                    </div>
                                </div>
                                <!-- authorsLastName backend errors -->
                                <div class="mt-n2" th:if="${!#fields.hasErrors('authorsFirstName') && #fields.hasErrors('authorsLastName')}">
                                    <div class="alert alert-danger alert-dismissible fade show mb-1" th:each="error : ${#fields.errors('authorsLastName')}">
                                        <button class="close" type="button" data-dismiss="alert">&times;</button>
                                        <strong>Check last name: </strong><span th:text="${error}"></span>
                                    </div>
                                </div>
                                <!-- authors -->
                                <div id="dynamicAuthors">
                                    <!-- author -->
                                    <div class="input-group mb-3" th:each="fn,i : ${bookForm.authorsFirstName}">
                                        <!-- firstName -->
                                        <input class="form-control" type="text" name="authorsFirstName" th:value="${bookForm.authorsFirstName[__${i.index}__]}" placeholder="First Name" th:pattern="${@environment.getProperty('fm.validation.regex.text-basic')}">
                                        <!-- lastName -->
                                        <input class="form-control" type="text" name="authorsLastName" th:value="${bookForm.authorsLastName[__${i.index}__]}" placeholder="Last Name" th:pattern="${@environment.getProperty('fm.validation.regex.text-basic')}">
                                        <!-- dynamic authors buttons -->
                                        <div th:if="${i.last}" class="input-group-append" id="authorButtons">
                                            <button class="btn btn-outline-secondary" id="removeAuthor" th:style="${i.size > 1}?'display: block':'display: none'" type="button">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                            <button class="btn btn-outline-info" id="addAuthor" type="button">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>
                                        <!-- frontEnd error -->
                                        <div class="invalid-feedback">Please fill out this field correctly</div>
                                    </div>
                                </div>
                                <!-------------------------------------------------------------------------ISBN-->
                                <div class="form-group">
                                    <label for="isbn">ISBN:</label>
                                    <input class="form-control" type="text" th:field="*{isbn}" id="isbn" placeholder="enter isbn" required th:pattern="${@environment.getProperty('fm.validation.regex.isbn-code')}">
                                    <div class="invalid-feedback">Please fill out this field with a valid ISBN</div>
                                </div>
                                <div th:replace="fragments/components::backendSpecificObjectFieldErrors('isbn')"></div>
                                <!-------------------------------------------------------------------------Language-->
                                <div class="form-group">
                                    <label for="language">Language:</label>
                                    <select class="custom-select" th:field="*{language}" id="language">
                                        <option th:each="lan : ${T(misrraimsp.uned.pfg.firstmarket.config.staticParameter.Language).values()}"
                                                th:value="${lan.ordinal()}"
                                                th:text="${lan.name()}">
                                        </option>
                                    </select>
                                </div>
                                <!-------------------------------------------------------------------------Pages-->
                                <div class="form-group">
                                    <label for="pages">Number of Pages:</label>
                                    <input class="form-control" type="number" th:field="*{pages}" id="pages" placeholder="enter number of pages" th:min="${@environment.getProperty('fm.validation.numeric.pages').split(',')[0]}" th:max="${@environment.getProperty('fm.validation.numeric.pages').split(',')[1]}">
                                    <div class="invalid-feedback">Please fill out this field correctly</div>
                                </div>
                                <div th:replace="fragments/components::backendSpecificObjectFieldErrors('pages')"></div>
                                <!-------------------------------------------------------------------------Stock-->
                                <div class="form-group">
                                    <label for="stock">Units in Stock:</label>
                                    <input class="form-control" type="number" th:field="*{stock}" id="stock" placeholder="enter stock" th:min="${@environment.getProperty('fm.validation.numeric.stock').split(',')[0]}" th:max="${@environment.getProperty('fm.validation.numeric.stock').split(',')[1]}">
                                    <div class="invalid-feedback">Please fill out this field correctly</div>
                                </div>
                                <div th:replace="fragments/components::backendSpecificObjectFieldErrors('stock')"></div>
                                <!-------------------------------------------------------------------------Price-->
                                <label for="price">Price:</label>
                                <div class="input-group mb-3">
                                    <input class="form-control" type="text" th:field="*{price}" id="price" placeholder="enter price" th:pattern="${@environment.getProperty('fm.validation.regex.price')}">
                                    <div class="input-group-append">
                                        <span class="input-group-text">€</span>
                                    </div>
                                    <div class="invalid-feedback">Please fill out this field correctly</div>
                                </div>
                                <div th:replace="fragments/components::backendSpecificObjectFieldErrors('price')"></div>
                            </div>
                            <div class="col-sm-12 bg-light">
                                <button th:replace="fragments/components::saveButton"></button>
                                <a th:replace="fragments/components::cancelButtonToBack"></a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-2 bg-white"></div>
            </div>
            <!-- footer -->
            <footer th:replace="fragments/components::footer"></footer>
        </div>
        <script th:src="@{/js/disableFormSubmissionOnInvalidField.js}"></script>
        <script th:src="@{/js/isbnChecksum.js}"></script>
        <script th:src="@{/js/binaryInputSwitch.js}"></script>
        <!-- dynamic authors -->
        <script th:src="@{/js/dynamicAuthors.js}"></script>
    </body>
</html>