<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
    <head th:replace="fragments/components::head('Book Details')"></head>
    <body>
        <!-- fm-content -->
        <div class="container-fluid fm-content">
            <!-- header -->
            <div th:replace="fragments/components::header"></div>
            <!-- main categories -->
            <div th:replace="fragments/components::mainCatsNavBar"></div>
            <!-- title -->
            <div th:replace="fragments/components::title_1_10_1(text = ${book.title})"></div>
            <!-- main content -->
            <div class="row">
                <!-- left margin -->
                <div class="col-sm-1"></div>
                <!-- image -->
                <div class="col-sm-3">
                    <a th:href="@{/image/{id}(id=${book.image.id})}"><img class="img-fluid" th:src="@{/image/{id}(id=${book.image.id})}"/></a>
                </div>
                <!-- book content -->
                <div class="col-sm-7">
                    <div class="row">
                        <!-- book info -->
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-7">
                                    <!-- authors -->
                                    <div th:unless="${book.authors.size() eq 0}">
                                        <p class="text-dark my-3">
                                            <span class="font-weight-lighter">Written by </span>
                                            <strong th:each="author,stats : ${book.authors}"><span th:if="${stats.first}" th:text="(${author.firstName.isBlank()}? '' : ${author.firstName}) + ' ' + (${author.lastName.isBlank()}? '' : ${author.lastName})"></span><span th:unless="${stats.first || stats.last}" th:text="', ' + (${author.firstName.isBlank()}? '' : ${author.firstName}) + ' ' + (${author.lastName.isBlank()}? '' : ${author.lastName})"></span><span th:if="${stats.last && !stats.first}" th:text="' and ' + (${author.firstName.isBlank()}? '' : ${author.firstName}) + ' ' + (${author.lastName.isBlank()}? '' : ${author.lastName})"></span></strong>
                                        </p>
                                    </div>
                                    <p th:if="${book.authors.size() eq 0}" class="text-secondary font-weight-light">
                                        <em>unknown author</em>
                                    </p>
                                    <!-- publisher and year -->
                                    <div>
                                        <p class="text-dark my-3">
                                            <span class="font-weight-light">Published in </span><strong th:text="${(book.year eq null)? 'unknown' : book.year}"></strong><span class="font-weight-light"> by </span><strong th:text="${(book.publisher ne null && !book.publisher.name.isBlank()) ? book.publisher.name : 'unknown'}"></strong>
                                        </p>
                                    </div>
                                    <!-- language and pages -->
                                    <p class="text-dark my-3">
                                        <small class="font-weight-light">Language </small><strong th:text="${book.language.text}"></strong>, <strong th:text="${book.pages}"></strong><small class="font-weight-light"> Pages</small>
                                    </p>
                                </div>
                                <div class="col-sm-5">
                                    <!-- category -->
                                    <p class="text-dark my-3">
                                        <span class="font-weight-light">Category </span><strong th:text="${book.category.name}"></strong>
                                    </p>
                                    <!-- isbn -->
                                    <p class="text-dark my-3">
                                        <span class="font-weight-light">ISBN </span><strong th:text="${book.isbn}"></strong>
                                    </p>
                                    <!-- price -->
                                    <p class="text-info my-3">
                                        <span class="font-weight-light">Price € </span><strong th:text="${book.price}"></strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- action buttons -->
                        <div class="col-sm-4" >
                            <!-- no-admin specific buttons -->
                            <div sec:authorize="!hasRole('ADMIN')">
                                <!-- addBook to cart button -->
                                <button class="btn btn-outline-info btn-lg align-center btn-block my-3" ajax="addBook" th:id="'ab-' + ${book.id}">
                                    Add to Cart<i class="fas fa-cart-plus ml-3"></i>
                                </button>
                            </div>
                            <!-- admin specific buttons -->
                            <div class="d-flex flex-column my-3" sec:authorize="hasRole('ADMIN')">
                                <!-- set book status -->
                                <form th:action="@{/admin/setBookStatus}" method="POST">
                                    <input type="hidden" name="bookId" th:value="${book.id}"/>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <select class="custom-select custom-select-sm text-secondary border border-secondary" name="bookStatus">
                                                <option th:each="status : ${T(misrraimsp.uned.pfg.firstmarket.config.staticParameter.ProductStatus).values()}"
                                                        th:value="${status.ordinal()}"
                                                        th:text="${status.text}"
                                                        th:selected="${status.equals(book.status)}">
                                                </option>
                                            </select>
                                            <div class="input-group-append">
                                                <button class="btn btn-sm btn-outline-secondary" type="submit" data-toggle="tooltip" title="Set Book Status">
                                                    <small>Set</small>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!-- edit book -->
                                <a class="btn btn-outline-secondary btn-sm align-center btn-block" th:href="@{/admin/bookForm?id={id}(id=${book.id})}">
                                    Edit Details<i class="fas fa-pen ml-3"></i>
                                </a>
                            </div>
                            <!-- go back button -->
                            <div>
                                <button class="btn btn-sm btn-outline-secondary btn-block my-3" onclick="window.history.back();">
                                    <i class="fas fa-chevron-left"></i><span class="font-weight-lighter small ml-3">Go back</span>
                                </button>
                            </div>
                        </div>
                        <!-- description -->
                        <div class="col-sm-12" style="text-align: justify; text-justify: inter-word;">
                            <p class="font-weight-bolder my-0"><strong>Description</strong></p>
                            <hr style="max-width: 50%; margin-top: 0.5rem; margin-bottom: 0.5rem; margin-left: 0"/>
                            <p class="my-0" th:unless="${book.description.isBlank()}" th:text="${book.description}"></p>
                            <p class="my-0" th:if="${book.title.isBlank()}"><em>unknown</em></p>
                        </div>
                    </div>
                </div>
                <!-- right margin -->
                <div class="col-sm-1"></div>
            </div>
            <!-- snackbar -->
            <div th:replace="fragments/components::snackbar"></div>
        </div>
        <!-- footer -->
        <div th:replace="fragments/components::footer"></div>
        <i th:replace="fragments/components::host-address"></i>
        <script th:src="@{/js/enableTooltips.js}"></script>
        <!-- ajax add book to cart -->
        <a th:href="@{/login}" id="loginLink" style="display: none"></a>
        <script th:src="@{/js/ajaxAddBook.js}"></script>
    </body>
</html>