<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head th:replace="fragments/components::head('Cart')"></head>
    <body>
        <!-- fm-content -->
        <div class="container-fluid fm-content">
            <!-- header -->
            <div th:replace="fragments/components::header"></div>
            <!-- main categories -->
            <div th:replace="fragments/components::mainCatsNavBar"></div>
            <!-- title -->
            <div th:replace="fragments/components::title_1_10_1(text = ${user.profile.firstName} + '\'s Cart')"></div>
            <!-- items pruned alert box -->
            <div class="row" th:if="${itemsDisabled ne null}" th:each="item : ${itemsDisabled}">
                <!-- left margin -->
                <div class="col-sm-1"></div>
                <!-- alert box -->
                <div class="col-sm-10">
                    <div class="alert alert-danger alert-dismissible fade show">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <small><span th:text="#{cart.item.disabled} + ' '"></span><strong th:text="${item.book.title}"></strong></small>
                    </div>
                </div>
                <!-- right margin -->
                <div class="col-sm-1"></div>
            </div>
            <!-- out-of-stock alert box -->
            <div class="row" th:if="${itemsOutOfStock ne null && !itemsOutOfStock.isEmpty()}">
                <!-- left margin -->
                <div class="col-sm-1"></div>
                <!-- alert box -->
                <div class="col-sm-10">
                    <div class="alert alert-warning alert-dismissible fade show">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <small th:text="#{cart.item.outOfStock}"></small>
                    </div>
                </div>
                <!-- right margin -->
                <div class="col-sm-1"></div>
            </div>
            <!-- main content -->
            <div class="row">
                <!-- left margin -->
                <div class="col-sm-1"></div>
                <!-- cart items -->
                <div class="col-sm-7 d-flex flex-column">
                    <!-- items header -->
                    <div class="d-flex justify-content-between mb-2 bg-white">
                        <!-- select all items -->
                        <div class="my-3 ml-3">
                            <div class="pretty p-default p-round p-thick">
                                <input type="checkbox" id="selectAll"/>
                                <div class="state p-info-o">
                                    <label th:for="selectAll"><span class="font-weight-light">Select All</span></label>
                                </div>
                            </div>
                        </div>
                        <!-- delete items -->
                        <div class="my-3 mr-3">
                            <button class="btn btn-sm btn-outline-secondary" ajax="removeItems" id="removeItems">
                                <span class="font-weight-lighter small mr-2">Remove selected</span><i class='fas fa-trash'></i>
                            </button>
                        </div>
                    </div>
                    <!-- items -->
                    <div class="d-flex flex-column">
                        <div class="my-2" th:id="'i-' + ${item.id}" th:each="item : ${user.cart.items}" th:classappend="${itemsOutOfStock ne null && itemsOutOfStock.contains(item)} ? 'out-of-stock' : 'bg-white'">
                            <div class="row d-flex align-items-center px-0 mx-0">
                                <!-- select item -->
                                <div class="col-sm-1">
                                    <div class="pretty p-default p-round p-thick">
                                        <input type="checkbox" th:id="'icb-' + ${item.id}" data-toggle="tooltip" title="Select this Item"/>
                                        <div class="state p-info-o">
                                            <label th:for="'icb-' + ${item.id}"></label>
                                        </div>
                                    </div>
                                </div>
                                <!-- image -->
                                <div class="col-sm-2">
                                    <a th:href="@{/book/{id}(id=${item.book.id})}"><img class="img-fluid my-3" th:src="@{/image/{id}(id=${item.book.image.id})}" alt="book image"/></a>
                                </div>
                                <!-- book info -->
                                <div class="col-sm-5">
                                    <!-- title -->
                                    <div class="mt-3">
                                        <a class="text-info font-weight-bold" th:href="@{/book/{id}(id=${item.book.id})}" style="text-decoration: none">
                                            <p th:unless="${item.book.title.isBlank()}">
                                                <strong th:text="${item.book.title.substring(0, T(java.lang.Math).min(item.book.title.length(), __${@environment.getProperty('fm.front-end.cart.title-max-size')}__))}"></strong>
                                            </p>
                                            <p th:if="${item.book.title.isBlank()}">
                                                <small><i>unknown title</i></small>
                                            </p>
                                        </a>
                                    </div>
                                    <!-- stock alarms -->
                                    <p class="small mt-n3 font-weight-lighter">
                                        <span class="text-danger" th:if="${item.book.stock eq 0}">
                                            Sold out
                                        </span>
                                        <span class="text-danger" th:if="${item.book.stock gt 0 && item.book.stock le cartBookRegistry.getOrDefault(item.book.id, 0) && item.book.stock le __${@environment.getProperty('fm.front-end.books.stock-usage-warning-threshold')}__}">
                                            Only <strong th:text="${item.book.stock}"></strong> available and it's in <strong th:text="${cartBookRegistry.get(item.book.id)}"></strong> person's cart
                                        </span>
                                    </p>
                                    <!-- authors -->
                                    <div th:unless="${item.book.authors.size() eq 0}" th:each="author,stats : ${item.book.authors}">
                                        <p th:if="${stats.index < __${@environment.getProperty('fm.front-end.cart.authors-max')}__}" class="text-dark small my-1">
                                            <span th:replace="fragments/components::author"></span>
                                        </p>
                                        <p th:if="${stats.last && stats.size > __${@environment.getProperty('fm.front-end.cart.authors-max')}__}" class="text-dark font-weight-light mb-1 mt-n1 small">
                                            <small><span th:text="${stats.size - __${@environment.getProperty('fm.front-end.cart.authors-max')}__}">restOfAuthors</span> more author/s</small>
                                        </p>
                                    </div>
                                    <p th:if="${item.book.authors.size() eq 0}">
                                        <small class="text-secondary font-weight-light"><i>unknown author</i></small>
                                    </p>
                                </div>
                                <!-- quantity -->
                                <div class="col-sm-2">
                                    <div class="d-flex justify-content-center">
                                        <!-- decrement -->
                                        <button class="btn btn-sm btn-outline-info mx-1" ajax="decrementItem" th:id="'di-' + ${item.id}" data-toggle="tooltip" title="Decrement Quantity">
                                            <i class="fas fa-minus fa-sm"></i>
                                        </button>
                                        <!-- number -->
                                        <div class="mx-1">
                                            <span th:id="'iq-' + ${item.id}" th:text="${item.quantity}">quantity</span>
                                        </div>
                                        <!-- increment -->
                                        <button class="btn btn-sm btn-outline-info mx-1" ajax="incrementItem" th:id="'ii-' + ${item.id}" data-toggle="tooltip" title="Increment Quantity">
                                            <i class="fas fa-plus fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- total price -->
                                <div class="col-sm-2 d-flex justify-content-end">
                                    <p th:id="'ibp-' + ${item.id}" style="display: none" th:text="${item.book.price}"></p>
                                    <p>€ <span th:id="'ip-' + ${item.id}" th:text="${item.getPrice()}">19.95</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- checkout panel -->
                <div class="col-sm-3">
                    <div class="d-flex flex-column bg-white">
                        <!-- panel title -->
                        <div class="d-flex justify-content-center mt-3 mb-5">
                            <strong class="text-dark">Purchase Summary</strong>
                        </div>
                        <!-- purchase info -->
                        <div class="d-flex flex-column mx-3">
                            <!-- number of books -->
                            <div class="d-flex justify-content-between">
                                <div><p>Number of books</p></div>
                                <div><p id="numOfBooks" th:text="${user.cart.size}">38</p></div>
                            </div>
                            <!-- subtotal price -->
                            <div class="d-flex justify-content-between">
                                <div><p>Subtotal</p></div>
                                <div><p>€ <span id="subtotal" th:text="${user.cart.price}">380</span></p></div>
                            </div>
                            <!-- total saving -->
                            <div class="d-flex justify-content-between">
                                <div><p>Discount</p></div>
                                <div><p>€ <span id="discount">0</span></p></div>
                            </div>
                        </div>
                        <!-- purchase -->
                        <div class="d-flex flex-column mt-3 mx-3">
                            <!-- final price -->
                            <div class="d-flex justify-content-between">
                                <div><strong>Total</strong></div>
                                <div><strong>€ <span id="total" th:text="${user.cart.price}">380</span></strong></div>
                            </div>
                            <!-- checkout button -->
                            <form th:action="@{/user/checkout}" method="GET">
                                <button class="btn btn-outline-info btn-sm my-3 btn-block" id="purchase" type="submit">Checkout</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- right margin -->
                <div class="col-sm-1"></div>
            </div>
        </div>
        <!-- footer -->
        <div th:replace="fragments/components::footer"></div>
        <script th:src="@{/js/enableTooltips.js}"></script>
        <!-- ajax cart -->
        <a th:href="@{/login}" id="loginLink" style="display: none"></a>
        <i th:replace="fragments/components::host-address"></i>
        <script th:src="@{/js/ajaxCart.js}"></script>
    </body>
</html>