<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head th:replace="fragments/components::head('Cart')"></head>
    <body>
        <div class="container-fluid bg-light">
            <!-- header -->
            <div th:replace="fragments/components::header"></div>
            <!-- main categories -->
            <div th:replace="fragments/components::mainCatsNavBar"></div>
            <!-- main content -->
            <div class="row my-5">
                <!-- left margin -->
                <div class="col-sm-1"></div>
                <!-- cart items -->
                <div class="col-sm-7">
                    <div class="row d-flex flex-column">
                        <!-- items header -->
                        <div class="col-sm-12 d-flex justify-content-between bg-white">
                            <!-- select all items -->
                            <div class="my-3">
                                <div class="pretty p-default p-round p-thick">
                                    <input type="checkbox" id="selectAll"/>
                                    <div class="state p-info-o">
                                        <label th:for="selectAll"><span class="font-weight-light">Select All</span></label>
                                    </div>
                                </div>
                            </div>
                            <!-- delete items -->
                            <div class="my-3">
                                <button class="btn btn-sm btn-outline-secondary" ajax="removeItems" id="removeItems">
                                    <span class="font-weight-lighter small mr-2">Remove selected</span><i class='fas fa-trash'></i>
                                </button>
                            </div>
                        </div>
                        <!-- items -->
                        <div class="col-sm-12" th:id="'i-' + ${item.id}" th:each="item : ${user.cart.items}">
                            <div class="row my-3 d-flex align-items-center bg-white">
                                <!-- select item -->
                                <div class="col-sm-1">
                                    <div class="pretty p-default p-round p-thick">
                                        <input type="checkbox" th:id="'icb-' + ${item.id}" data-toggle="tooltip" title="Select this Item"/>
                                        <div class="state p-info-o">
                                            <label th:for="'icb-' + ${item.id}"></label>
                                        </div>
                                    </div>
                                </div>
                                <!-- image -->
                                <div class="col-sm-2">
                                    <a th:href="@{/book/{id}(id=${item.book.id})}"><img class="img-fluid my-3" th:src="@{/image/{id}(id=${item.book.image.id})}" alt="book image"/></a>
                                </div>
                                <!-- book info -->
                                <div class="col-sm-5">
                                    <!-- title -->
                                    <div class="mt-3">
                                        <a class="text-info font-weight-bold" th:href="@{/book/{id}(id=${item.book.id})}" style="text-decoration: none">
                                            <p th:unless="${item.book.title.isBlank()}">
                                                <strong th:text="${item.book.title.substring(0, T(java.lang.Math).min(item.book.title.length(), __${@environment.getProperty('front-end.cart.title-max-size')}__))}"></strong>
                                            </p>
                                            <p th:if="${item.book.title.isBlank()}">
                                                <small><i>unknown title</i></small>
                                            </p>
                                        </a>
                                    </div>
                                    <!-- authors -->
                                    <div th:unless="${item.book.authors.size() eq 0}" th:each="author,stats : ${item.book.authors}">
                                        <p th:if="${stats.index < __${@environment.getProperty('front-end.cart.authors-max')}__}" class="text-dark small my-1">
                                            <span th:replace="fragments/components::author"></span>
                                        </p>
                                        <p th:if="${stats.last && stats.size > __${@environment.getProperty('front-end.cart.authors-max')}__}" class="text-dark font-weight-light mb-1 mt-n1 small">
                                            <small><span th:text="${stats.size - __${@environment.getProperty('front-end.cart.authors-max')}__}">restOfAuthors</span> more author/s</small>
                                        </p>
                                    </div>
                                    <p th:if="${item.book.authors.size() eq 0}">
                                        <small class="text-secondary font-weight-light"><i>unknown author</i></small>
                                    </p>
                                </div>
                                <!-- quantity -->
                                <div class="col-sm-2">
                                    <div class="d-flex justify-content-center">
                                        <!-- decrement -->
                                        <button class="btn btn-sm btn-outline-info mx-1" ajax="decrementItem" th:id="'di-' + ${item.id}" data-toggle="tooltip" title="Decrement Quantity">
                                            <i class="fas fa-minus fa-sm"></i>
                                        </button>
                                        <!-- number -->
                                        <div class="mx-1">
                                            <span th:id="'iq-' + ${item.id}" th:text="${item.quantity}">quantity</span>
                                        </div>
                                        <!-- increment -->
                                        <button class="btn btn-sm btn-outline-info mx-1" ajax="incrementItem" th:id="'ii-' + ${item.id}" data-toggle="tooltip" title="Increment Quantity">
                                            <i class="fas fa-plus fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- total price -->
                                <div class="col-sm-2 d-flex justify-content-end">
                                    <p th:id="'ibp-' + ${item.id}" style="display: none" th:text="${item.book.price}"></p>
                                    <p>EUR <span th:id="'ip-' + ${item.id}" th:text="${item.getPrice()}">19.95</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- checkout panel -->
                <div class="col-sm-3">
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10 d-flex flex-column bg-white">
                            <!-- panel title -->
                            <div class="d-flex justify-content-center mt-3 mb-5">
                                <strong>Purchase Summary</strong>
                            </div>
                            <!-- purchase info -->
                            <div class="d-flex flex-column">
                                <!-- number of books -->
                                <div class="d-flex justify-content-between">
                                    <div><p>Number of books:</p></div>
                                    <div><p id="numOfBooks" th:text="${user.cart.size}">38</p></div>
                                </div>
                                <!-- subtotal price -->
                                <div class="d-flex justify-content-between">
                                    <div><p>Subtotal:</p></div>
                                    <div><p>€ <span id="subtotal" th:text="${user.cart.price}">380</span></p></div>
                                </div>
                                <!-- total saving -->
                                <div class="d-flex justify-content-between">
                                    <div><p>Discount:</p></div>
                                    <div><p>€ <span id="discount">0</span></p></div>
                                </div>
                            </div>
                            <!-- purchase -->
                            <div class="d-flex flex-column mt-3">
                                <!-- final price -->
                                <div class="d-flex justify-content-between">
                                    <div><strong>Total:</strong></div>
                                    <div><strong>€ <span id="total" th:text="${user.cart.price}">380</span></strong></div>
                                </div>
                                <!-- checkout button -->
                                <form th:action="@{/user/checkout}" method="GET">
                                    <button class="btn btn-outline-info btn-sm my-2 btn-block" id="purchase" type="submit">Checkout</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                </div>
                <!-- right margin -->
                <div class="col-sm-1"></div>
            </div>
            <!-- footer -->
            <div th:replace="fragments/components::footer"></div>
        </div>
        <script th:src="@{/js/enableTooltips.js}"></script>
        <!-- ajax cart -->
        <a th:href="@{/login}" id="loginLink" style="display: none"></a>
        <script th:src="@{/js/ajaxCart.js}"></script>
    </body>
</html>