<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head th:replace="fragments/components::head('Categories')"></head>
    <body>
        <div class="container-fluid">
            <!-- header -->
            <header th:replace="fragments/components::header"></header>
            <!-- main categories -->
            <div th:replace="fragments/components::mainCatsNavBar"></div>
            <!-- title -->
            <div th:replace="fragments/components::title(text = 'Categories')"></div>
            <!-- main content -->
            <div class="row">
                <div class="col-sm-2 bg-white"></div>
                <div class="col-sm-8 bg-light" id="root-hook">

<!--
                    <div class="d-flex align-items-baseline my-1 p-1 border rounded shadow-sm">
                        <div class="mr-auto">
                            <a class="text-dark" href="#cat1" data-toggle="collapse" style="text-decoration: none">cat1</a>
                        </div>
                        <div class="mr-1">
                            <a class="btn btn-outline-info btn-sm" th:href="@{/home}"><i class="fas fa-pen"></i></a>
                        </div>
                        <div>
                            <a class="btn btn-outline-danger btn-sm" th:href="@{/home}"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </div>
                    <div class="collapse m-3" id="cat1">
                        <div class="d-flex flex-column">

                            <div class="d-flex align-items-baseline my-1 p-1 border rounded shadow-sm">
                                <div class="mr-auto">
                                    <a class="text-dark" href="#cat1-1" data-toggle="collapse" style="text-decoration: none">cat1-1</a>
                                </div>
                                <div>
                                    <a class="btn btn-outline-info" th:href="@{/home}"><i class="fas fa-pen"></i></a>
                                </div>
                                <div>
                                    <a class="btn btn-outline-danger" th:href="@{/home}"><i class="fas fa-trash-alt"></i></a>
                                </div>
                            </div>
                            <div class="collapse m-3 pt-3" id="cat1-1">
                                <div class="d-flex flex-column">
                                    <div class="d-flex align-items-baseline my-1 p-1 border rounded shadow-sm">
                                        <div class="mr-auto">
                                            <a class="text-dark" style="text-decoration: none">cat1-1-1</a>
                                        </div>
                                        <div>
                                            <a class="btn btn-outline-info" th:href="@{/home}"><i class="fas fa-pen"></i></a>
                                        </div>
                                        <div>
                                            <a class="btn btn-outline-danger" th:href="@{/home}"><i class="fas fa-trash-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-baseline my-1 p-1 border rounded shadow-sm">
                                        <div class="mr-auto">
                                            <a class="text-dark" style="text-decoration: none">cat1-1-2</a>
                                        </div>
                                        <div>
                                            <a class="btn btn-outline-info" th:href="@{/home}"><i class="fas fa-pen"></i></a>
                                        </div>
                                        <div>
                                            <a class="btn btn-outline-danger" th:href="@{/home}"><i class="fas fa-trash-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-baseline my-1 p-1 border rounded shadow-sm">
                                        <div class="mr-auto">
                                            <a class="text-dark" style="text-decoration: none">cat1-1-3</a>
                                        </div>
                                        <div>
                                            <a class="btn btn-outline-info" th:href="@{/home}"><i class="fas fa-pen"></i></a>
                                        </div>
                                        <div>
                                            <a class="btn btn-outline-danger" th:href="@{/home}"><i class="fas fa-trash-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-baseline my-1 p-1 border rounded shadow-sm">
                                        <div class="mr-auto">
                                            <a class="text-dark" style="text-decoration: none">cat1-1-4</a>
                                        </div>
                                        <div>
                                            <a class="btn btn-outline-info" th:href="@{/home}"><i class="fas fa-pen"></i></a>
                                        </div>
                                        <div>
                                            <a class="btn btn-outline-danger" th:href="@{/home}"><i class="fas fa-trash-alt"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex align-items-baseline my-1 p-1 border rounded shadow-sm">
                                <div class="mr-auto">
                                    <a class="text-dark" href="#cat1-2" data-toggle="collapse" style="text-decoration: none">cat1-2</a>
                                </div>
                                <div>
                                    <a class="btn btn-outline-info" th:href="@{/home}"><i class="fas fa-pen"></i></a>
                                </div>
                                <div>
                                    <a class="btn btn-outline-danger" th:href="@{/home}"><i class="fas fa-trash-alt"></i></a>
                                </div>
                            </div>
                            <div class="collapse m-3 pt-3" id="cat1-2">
                                <div class="d-flex flex-column">
                                    <div class="d-flex align-items-baseline my-1 p-1 border rounded shadow-sm">
                                        <div class="mr-auto">
                                            <a class="text-dark" style="text-decoration: none">cat1-2-1</a>
                                        </div>
                                        <div>
                                            <a class="btn btn-outline-info" th:href="@{/home}"><i class="fas fa-pen"></i></a>
                                        </div>
                                        <div>
                                            <a class="btn btn-outline-danger" th:href="@{/home}"><i class="fas fa-trash-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-baseline my-1 p-1 border rounded shadow-sm">
                                        <div class="mr-auto">
                                            <a class="text-dark" style="text-decoration: none">cat1-2-2</a>
                                        </div>
                                        <div>
                                            <a class="btn btn-outline-info" th:href="@{/home}"><i class="fas fa-pen"></i></a>
                                        </div>
                                        <div>
                                            <a class="btn btn-outline-danger" th:href="@{/home}"><i class="fas fa-trash-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-baseline my-1 p-1 border rounded shadow-sm">
                                        <div class="mr-auto">
                                            <a class="text-dark" style="text-decoration: none">cat1-2-3</a>
                                        </div>
                                        <div>
                                            <a class="btn btn-outline-info" th:href="@{/home}"><i class="fas fa-pen"></i></a>
                                        </div>
                                        <div>
                                            <a class="btn btn-outline-danger" th:href="@{/home}"><i class="fas fa-trash-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-baseline my-1 p-1 border rounded shadow-sm">
                                        <div class="mr-auto">
                                            <a class="text-dark" style="text-decoration: none">cat1-2-4</a>
                                        </div>
                                        <div>
                                            <a class="btn btn-outline-info" th:href="@{/home}"><i class="fas fa-pen"></i></a>
                                        </div>
                                        <div>
                                            <a class="btn btn-outline-danger" th:href="@{/home}"><i class="fas fa-trash-alt"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex align-items-baseline my-1 p-1 border rounded shadow-sm">
                                <div class="mr-auto">
                                    <a class="text-dark" href="#cat1-3" data-toggle="collapse" style="text-decoration: none">cat1-3</a>
                                </div>
                                <div>
                                    <a class="btn btn-outline-info" th:href="@{/home}"><i class="fas fa-pen"></i></a>
                                </div>
                                <div>
                                    <a class="btn btn-outline-danger" th:href="@{/home}"><i class="fas fa-trash-alt"></i></a>
                                </div>
                            </div>
                            <div class="collapse m-3 pt-3 bg-success" id="cat1-3">
                                <div class="d-flex flex-column">
                                    <div class="d-flex align-items-baseline my-1 p-1 border rounded shadow-sm">
                                        <div class="mr-auto">
                                            <a class="text-dark" style="text-decoration: none">cat1-3-1</a>
                                        </div>
                                        <div>
                                            <a class="btn btn-outline-info" th:href="@{/home}"><i class="fas fa-pen"></i></a>
                                        </div>
                                        <div>
                                            <a class="btn btn-outline-danger" th:href="@{/home}"><i class="fas fa-trash-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-baseline my-1 p-1 border rounded shadow-sm">
                                        <div class="mr-auto">
                                            <a class="text-dark" style="text-decoration: none">cat1-3-2</a>
                                        </div>
                                        <div>
                                            <a class="btn btn-outline-info" th:href="@{/home}"><i class="fas fa-pen"></i></a>
                                        </div>
                                        <div>
                                            <a class="btn btn-outline-danger" th:href="@{/home}"><i class="fas fa-trash-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-baseline my-1 p-1 border rounded shadow-sm">
                                        <div class="mr-auto">
                                            <a class="text-dark" style="text-decoration: none">cat1-3-3</a>
                                        </div>
                                        <div>
                                            <a class="btn btn-outline-info" th:href="@{/home}"><i class="fas fa-pen"></i></a>
                                        </div>
                                        <div>
                                            <a class="btn btn-outline-danger" th:href="@{/home}"><i class="fas fa-trash-alt"></i></a>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-baseline my-1 p-1 border rounded shadow-sm">
                                        <div class="mr-auto">
                                            <a class="text-dark" style="text-decoration: none">cat1-3-4</a>
                                        </div>
                                        <div>
                                            <a class="btn btn-outline-info" th:href="@{/home}"><i class="fas fa-pen"></i></a>
                                        </div>
                                        <div>
                                            <a class="btn btn-outline-danger" th:href="@{/home}"><i class="fas fa-trash-alt"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="d-flex align-items-baseline my-1 p-1 border rounded shadow-sm">
                        <div class="mr-auto">
                            <a class="text-dark" href="#cat2" data-toggle="collapse" style="text-decoration: none">cat2</a>
                        </div>
                        <div>
                            <a class="btn btn-outline-info" th:href="@{/home}"><i class="fas fa-pen"></i></a>
                        </div>
                        <div>
                            <a class="btn btn-outline-danger" th:href="@{/home}"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </div>
                    <div class="collapse m-3 pt-3" id="cat2">
                        <div class="d-flex flex-column">
                            <div class="d-flex align-items-baseline my-1 p-1 border rounded shadow-sm">
                                <div class="mr-auto">
                                    <a class="text-dark" style="text-decoration: none">cat2-1</a>
                                </div>
                                <div>
                                    <a class="btn btn-outline-info" th:href="@{/home}"><i class="fas fa-pen"></i></a>
                                </div>
                                <div>
                                    <a class="btn btn-outline-danger" th:href="@{/home}"><i class="fas fa-trash-alt"></i></a>
                                </div>
                            </div>
                            <div class="d-flex align-items-baseline my-1 p-1 border rounded shadow-sm">
                                <div class="mr-auto">
                                    <a class="text-dark" style="text-decoration: none">cat2-2</a>
                                </div>
                                <div>
                                    <a class="btn btn-outline-info" th:href="@{/home}"><i class="fas fa-pen"></i></a>
                                </div>
                                <div>
                                    <a class="btn btn-outline-danger" th:href="@{/home}"><i class="fas fa-trash-alt"></i></a>
                                </div>
                            </div>
                            <div class="d-flex align-items-baseline my-1 p-1 border rounded shadow-sm">
                                <div class="mr-auto">
                                    <a class="text-dark" style="text-decoration: none">cat2-3</a>
                                </div>
                                <div>
                                    <a class="btn btn-outline-info" th:href="@{/home}"><i class="fas fa-pen"></i></a>
                                </div>
                                <div>
                                    <a class="btn btn-outline-danger" th:href="@{/home}"><i class="fas fa-trash-alt"></i></a>
                                </div>
                            </div>
                            <div class="d-flex align-items-baseline my-1 p-1 border rounded shadow-sm">
                                <div class="mr-auto">
                                    <a class="text-dark" style="text-decoration: none">cat2-4</a>
                                </div>
                                <div>
                                    <a class="btn btn-outline-info" th:href="@{/home}"><i class="fas fa-pen"></i></a>
                                </div>
                                <div>
                                    <a class="btn btn-outline-danger" th:href="@{/home}"><i class="fas fa-trash-alt"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex align-items-baseline my-1 p-1 border rounded shadow-sm">
                        <div class="mr-auto">
                            <a class="text-dark" href="#cat3" data-toggle="collapse" style="text-decoration: none">cat3</a>
                        </div>
                        <div>
                            <a class="btn btn-outline-info" th:href="@{/home}"><i class="fas fa-pen"></i></a>
                        </div>
                        <div>
                            <a class="btn btn-outline-danger" th:href="@{/home}"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </div>
                    <div class="collapse m-3 pt-3" id="cat3">
                        <div class="d-flex flex-column">
                            <div class="d-flex align-items-baseline my-1 p-1 border rounded shadow-sm">
                                <div class="mr-auto">
                                    <a class="text-dark" style="text-decoration: none">cat3-1</a>
                                </div>
                                <div>
                                    <a class="btn btn-outline-info" th:href="@{/home}"><i class="fas fa-pen"></i></a>
                                </div>
                                <div>
                                    <a class="btn btn-outline-danger" th:href="@{/home}"><i class="fas fa-trash-alt"></i></a>
                                </div>
                            </div>
                            <div class="d-flex align-items-baseline my-1 p-1 border rounded shadow-sm">
                                <div class="mr-auto">
                                    <a class="text-dark" style="text-decoration: none">cat3-2</a>
                                </div>
                                <div>
                                    <a class="btn btn-outline-info" th:href="@{/home}"><i class="fas fa-pen"></i></a>
                                </div>
                                <div>
                                    <a class="btn btn-outline-danger" th:href="@{/home}"><i class="fas fa-trash-alt"></i></a>
                                </div>
                            </div>
                            <div class="d-flex align-items-baseline my-1 p-1 border rounded shadow-sm">
                                <div class="mr-auto">
                                    <a class="text-dark" style="text-decoration: none">cat3-3</a>
                                </div>
                                <div>
                                    <a class="btn btn-outline-info" th:href="@{/home}"><i class="fas fa-pen"></i></a>
                                </div>
                                <div>
                                    <a class="btn btn-outline-danger" th:href="@{/home}"><i class="fas fa-trash-alt"></i></a>
                                </div>
                            </div>
                            <div class="d-flex align-items-baseline my-1 p-1 border rounded shadow-sm">
                                <div class="mr-auto">
                                    <a class="text-dark" style="text-decoration: none">cat3-4</a>
                                </div>
                                <div>
                                    <a class="btn btn-outline-info" th:href="@{/home}"><i class="fas fa-pen"></i></a>
                                </div>
                                <div>
                                    <a class="btn btn-outline-danger" th:href="@{/home}"><i class="fas fa-trash-alt"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
-->
                </div>
                <div class="col-sm-2 bg-white"></div>
            </div>
            <!-- footer -->
            <footer th:replace="fragments/components::footer"></footer>
        </div>
        <script th:src="@{/js/enableTooltips.js}"></script>
        <script>
            let jsonString = '{"name":"cat1", "id":1, "children":[{"name":"cat2", "id":2, "children":[{"name":"cat2-1", "id":3, "children":[]}, {"name":"cat2-2", "id":4, "children":[]}]}, {"name":"cat3", "id":5, "children":[{"name":"cat3-1", "id":6, "children":[]}, {"name":"cat3-2", "id":7, "children":[]}]}, {"name":"cat4", "id":8, "children":[{"name":"cat4-1", "id":9, "children":[]}, {"name":"cat4-2", "id":10, "children":[]}]}]}';
        </script>
        <script th:src="@{/static/js/categoriesBuilder.js}"></script>
    </body>
</html>