<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head th:replace="fragments/components::head('Categories')"></head>
    <body>
        <!-- fm-content -->
        <div class="container-fluid fm-content">
            <!-- header -->
            <header th:replace="fragments/components::header"></header>
            <!-- main categories -->
            <div th:replace="fragments/components::mainCatsNavBar"></div>
            <!-- title -->
            <div th:replace="fragments/components::title(text = 'Categories')"></div>
            <!-- main content -->
            <div class="row">
                <div class="col-sm-2 bg-white"></div>
                <div class="col-sm-8 bg-white" id="root-hook">
                    <!-- new category -->
                    <div class="my-2">
                        <a class="btn btn-outline-secondary align-center px-4" th:href="@{/admin/categoryForm}">
                            <i class="fas fa-folder-plus fa-lg mr-4"></i>New Category
                        </a>
                    </div>
                    <hr/>
                    <!--
                    js dynamic generated content here
                    -->
                </div>
                <div class="col-sm-2 bg-white"></div>
            </div>
            <!-- modal -->
            <div th:replace="fragments/components::deletingModal(entity = 'Category')"></div>
        </div>
        <!-- footer -->
        <footer th:replace="fragments/components::footer"></footer>
        <i th:replace="fragments/components::host-address"></i>
        <!-- tooltips -->
        <script th:src="@{/js/enableTooltips.js}"></script>
        <!-- categories dynamically generated -->
        <script th:utext="'let jsonStringCategories = \'' + ${jsonStringCategories} + '\';'"></script>
        <script th:src="@{/js/categoriesBuilder.js}"></script>
        <script th:src="@{/js/categoriesStyler.js}"></script>
        <!-- modal functionality -->
        <i th:replace="fragments/components::modal-action(action = 'deleteCategory')"></i>
        <!--custom-htmlReady event is triggered at the end of categoriesBuilder job-->
        <script th:src="@{/js/modalManager.js}"></script>
    </body>
</html>