<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Categories Manager</title>
        <link rel="stylesheet" th:href="@{/styles.css}" />
        <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
    </head>
    <body>
        <h1>Categories Manager</h1>
        <p><a th:href="@{/admin}">go back</a></p>
        <p><a th:href="@{/admin/newCategory}">new category</a></p>
        <p>Please, to edit some category just click its reference</p>
        <br/>
        <table border="1">
            <tr>
                <td><b>Id</b></td>
                <td><b>Name</b></td>
                <td/>
            </tr>
            <tr th:each="node : ${rootNode}">
                <td><a th:href="@{/admin/editCategory/{id}(id=${node.data.id})}"><span th:text="${node.data.id}">id</span></a></td>
                <td><span th:text="${node.data.name}">name</span></td>
                <td><a th:href="@{/admin/deleteCategory/{id}(id=${node.data.id})}">Delete</a></td>
            </tr>
        </table>
    </body>
</html>