<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head th:replace="fragments/components::head('Categories')">
    </head>
    <body>
        <div class="container-fluid">
            <header th:replace="fragments/components::header"></header>
            <!-- main categories -->
            <div th:replace="fragments/components::mainCatsNavBar"></div>
            <div th:replace="fragments/components::title(text = 'Categories')"></div>
            <div th:replace="fragments/components::addButton('newCategory')"></div>
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="ic : ${indentedCategories}">
                    <td><span th:text="${ic.name}">name</span></td>
                    <td th:if="${ic.id!=ic.parent.id}">
                        <a th:href="@{/admin/editCategory/{id}(id=${ic.id})}" data-toggle="tooltip" title="Edit Category"><i class="fas fa-pen"></i></a>
                        <a th:href="@{/admin/deleteCategory/{id}(id=${ic.id})}" data-toggle="tooltip" title="Delete Category"><i class='fas fa-trash-alt' style='color:red'></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <footer th:replace="fragments/components::footer"></footer>
        </div>
        <script th:src="@{/js/enableTooltips.js}"></script>
    </body>
</html>