<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head th:replace="fragments::head"></head>
    <body>
        <header th:replace="fragments::header"></header>
        <div class="container">
            <ul class="breadcrumb my-2">
                <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                <li class="breadcrumb-item active">Change Password</li>
            </ul>
            <h3>Change Password</h3>

            <!-- BACKEND-ONLY VALIDATION -->

            <form th:action="@{/user/changePassword}" th:object="${formPassword}" method="POST" action="#">
                <div class="form-group">
                    <label for="currentPassword">Current Password:</label>
                    <input type="password" th:field="*{currentPassword}" class="form-control" id="currentPassword" placeholder="enter current password" />
                    <div th:replace="fragments::backendValidationErrors('currentPassword')"></div>
                </div>
                <div class="form-group">
                    <label for="newPassword">New Password:</label>
                    <input type="password" th:field="*{password}" class="form-control" id="newPassword" placeholder="enter new password" />
                    <div th:replace="fragments::backendValidationErrors('password')"></div>
                </div>
                <div class="form-group">
                    <label for="newPasswordConfirm">Confirm New Password:</label>
                    <input type="password" th:field="*{matchingPassword}" class="form-control" id="newPasswordConfirm" placeholder="confirm new password" />
                    <div th:replace="fragments::backendValidationErrors('matchingPassword')"></div>
                </div>
                <button th:replace="fragments::saveButton"></button>
            </form>

            <!--

             FULL VALIDATION

            <form class="needs-validation" novalidate th:action="@{/user/changePassword}" th:object="${formPassword}" method="POST" action="#">
                <div class="form-group">
                    <label for="currentPassword">Current Password:</label>
                    <input type="password" th:field="*{currentPassword}" class="form-control" id="currentPassword" placeholder="enter current password" required/>
                    <div class="invalid-feedback">Please fill out this field.</div>
                    <div th:replace="fragments::backendValidationErrors('currentPassword')"></div>
                </div>
                <div class="form-group">
                    <label for="newPassword">New Password:</label>
                    <input type="password" th:field="*{password}" class="form-control" id="newPassword" placeholder="enter new password" required/>
                    <div class="invalid-feedback">Please fill out this field.</div>
                    <div th:replace="fragments::backendValidationErrors('password')"></div>
                </div>
                <div class="form-group">
                    <label for="newPasswordConfirm">Confirm New Password:</label>
                    <input type="password" th:field="*{matchingPassword}" class="form-control" id="newPasswordConfirm" placeholder="confirm new password" required/>
                    <div class="invalid-feedback">Please fill out this field.</div>
                    <div th:replace="fragments::backendValidationErrors('matchingPassword')"></div>
                </div>
                <button th:replace="fragments::saveButton"></button>
            </form>

            -->

        </div>
        <footer th:replace="fragments::footer"></footer>
        <!--<script th:replace="fragments::disableFormSubmissionOnInvalidField"></script>-->
    </body>
</html>

<!--
<form id="myForm" method="POST" action="...">
    <p>Username: <input id="field_username" title="Username must not be blank and contain only letters, numbers and underscores." type="text" required pattern="\w+" name="username"></p>
    <p>Password: <input id="field_pwd1" title="Password must contain at least 6 characters, including UPPER/lowercase and numbers." type="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" name="pwd1"></p>
    <p>Confirm Password: <input id="field_pwd2" title="Please enter the same Password as above." type="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" name="pwd2"></p>
    <p><input type="submit" value="Submit"></p>
</form>


<script type="text/javascript">

    document.addEventListener("DOMContentLoaded", function() {

        // JavaScript form validation

        var checkPassword = function(str)
        {
            var re = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}$/;
            return re.test(str);
        };

        var checkForm = function(e)
        {
            if(this.username.value == "") {
                alert("Error: Username cannot be blank!");
                this.username.focus();
                e.preventDefault(); // equivalent to return false
                return;
            }
            re = /^\w+$/;
            if(!re.test(this.username.value)) {
                alert("Error: Username must contain only letters, numbers and underscores!");
                this.username.focus();
                e.preventDefault();
                return;
            }
            if(this.pwd1.value != "" && this.pwd1.value == this.pwd2.value) {
                if(!checkPassword(this.pwd1.value)) {
                    alert("The password you have entered is not valid!");
                    this.pwd1.focus();
                    e.preventDefault();
                    return;
                }
            } else {
                alert("Error: Please check that you've entered and confirmed your password!");
                this.pwd1.focus();
                e.preventDefault();
                return;
            }
            alert("Both username and password are VALID!");
        };

        var myForm = document.getElementById("myForm");
        myForm.addEventListener("submit", checkForm, true);

        // HTML5 form validation

        var supports_input_validity = function()
        {
            var i = document.createElement("input");
            return "setCustomValidity" in i;
        }

        if(supports_input_validity()) {
            var usernameInput = document.getElementById("field_username");
            usernameInput.setCustomValidity(usernameInput.title);

            var pwd1Input = document.getElementById("field_pwd1");
            pwd1Input.setCustomValidity(pwd1Input.title);

            var pwd2Input = document.getElementById("field_pwd2");

            // input key handlers

            usernameInput.addEventListener("keyup", function(e) {
                usernameInput.setCustomValidity(this.validity.patternMismatch ? usernameInput.title : "");
            }, false);

            pwd1Input.addEventListener("keyup", function(e) {
                this.setCustomValidity(this.validity.patternMismatch ? pwd1Input.title : "");
                if(this.checkValidity()) {
                    pwd2Input.pattern = RegExp.escape(this.value);
                    pwd2Input.setCustomValidity(pwd2Input.title);
                } else {
                    pwd2Input.pattern = this.pattern;
                    pwd2Input.setCustomValidity("");
                }
            }, false);

            pwd2Input.addEventListener("keyup", function(e) {
                this.setCustomValidity(this.validity.patternMismatch ? pwd2Input.title : "");
            }, false);

        }

    }, false);

</script>
-->