<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head th:replace="fragments/components::head('Checkout')"></head>
    <body>
        <!-- fm-content -->
        <div class="container-fluid fm-content">
            <!-- header -->
            <header th:replace="fragments/components::header"></header>
            <!-- main categories -->
            <div th:replace="fragments/components::mainCatsNavBar"></div>
            <!-- title -->
            <div th:replace="fragments/components::title(text = 'Checkout')"></div>
            <!-- payment error -->
            <div class="row my-1">
                <!-- left margin -->
                <div class="col-sm-1"></div>
                <!-- error -->
                <div class="col-sm-10" id="error-box-hook">
                    <!-- dynamically generated error box here -->
                </div>
                <!-- right margin -->
                <div class="col-sm-1"></div>
            </div>
            <!-- main content -->
            <div class="row bg-white">
                <!-- left margin -->
                <div class="col-sm-1"></div>
                <!-- checkout form -->
                <div class="col-sm-6">
                    <form class="needs-validation" novalidate id='payment-form'>
                        <!-------------------------------------------------------------------------Receipt Email-->
                        <input type="hidden" id="receiptEmail" th:value="${user.email}">
                        <!-------------------------------------------------------------------------Recipient details-->
                        <label class="mt-3 text-dark font-weight-light">Recipient details</label>
                        <div class="input-group mb-3">
                            <!-- full name -->
                            <div class="input-group-prepend">
                                <span class="input-group-text"><small class="font-weight-lighter">Name</small></span>
                            </div>
                            <input class="form-control" type="text" id="name" required th:pattern="${@environment.getProperty('fm.validation.regex.text-basic')}">
                            <!-- phone -->
                            <div class="input-group-prepend">
                                <span class="input-group-text"><small class="font-weight-lighter">Phone</small></span>
                            </div>
                            <input class="form-control" type="text" id="phone" style="max-width: 25%" th:pattern="${@environment.getProperty('fm.validation.regex.phone')}">
                            <!-- error -->
                            <div class="invalid-feedback">Please fill out this field correctly</div>
                        </div>
                        <!-------------------------------------------------------------------------Shipping address-->
                        <label class="mt-1 text-dark font-weight-light">Shipping address</label>
                        <!-- street line1-->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><small class="font-weight-lighter">Address</small></span>
                            </div>
                            <input class="form-control" type="text" id="line1" required th:pattern="${@environment.getProperty('fm.validation.regex.text-basic')}">
                            <div class="invalid-feedback">Please fill out this field correctly</div>
                        </div>
                        <!-- street line2-->
                        <input class="form-control mb-3" type="text" id="line2" th:pattern="${@environment.getProperty('fm.validation.regex.text-basic')}">
                        <div class="invalid-feedback">Please fill out this field correctly</div>
                        <!-- city and postal code -->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><small class="font-weight-lighter">City</small></span>
                            </div>
                            <input class="form-control" type="text" id="city" required th:pattern="${@environment.getProperty('fm.validation.regex.text-basic')}">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><small class="font-weight-lighter">Postal Code</small></span>
                            </div>
                            <input class="form-control" type="text" id="postalCode" required style="max-width: 25%" th:pattern="${@environment.getProperty('fm.validation.regex.text-basic')}">
                            <div class="invalid-feedback">Please fill out this field correctly</div>
                        </div>
                        <!-- country and province -->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><small class="font-weight-lighter">Country</small></span>
                            </div>
                            <input class="form-control" type="text" id="country" required th:pattern="${@environment.getProperty('fm.validation.regex.text-basic')}">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><small class="font-weight-lighter">Province</small></span>
                            </div>
                            <input class="form-control" type="text" id="province" required th:pattern="${@environment.getProperty('fm.validation.regex.text-basic')}">
                            <div class="invalid-feedback">Please fill out this field correctly</div>
                        </div>
                        <!-------------------------------------------------------------------------Payment info-->
                        <label class="text-dark font-weight-light" for="card-element">Credit/Debit Card</label>
                        <div class="form-group">
                            <div class="form-control" id="card-element" style='height: 2.4em; padding-top: .7em;'>
                                <!-- card element here -->
                            </div>
                            <div id="card-errors" role="alert" style="color: red; font-size: small">
                                <!-- card error here -->
                            </div>
                        </div>
                        <!-------------------------------------------------------------------------Action buttons-->
                        <div class="d-flex my-2">
                            <!-- Pay button -->
                            <button class="btn btn-info px-5 mr-auto" type="submit" id="pay" th:attr="data-secret=${user.cart.stripeClientSecret}" disabled>
                                <span class="spinner-border spinner-border-sm" id="spinner" style="visibility: hidden"></span>
                                <span class="font-weight-bolder">Pay </span>
                                <span class="font-weight-lighter">€</span><span class="font-weight-bolder" th:text="${user.cart.price}"></span>
                            </button>
                            <!-- Cancel button -->
                            <a class="btn btn-outline-secondary px-3" th:href="@{/home}">
                                <span class="font-weight-lighter small">Cancel</span>
                            </a>
                            <!-- success link -->
                            <a th:href="@{/user/success}" id="successLink" style="display: none"></a>
                        </div>
                    </form>
                </div>
                <!-- purchase summary -->
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10 d-flex flex-column bg-light">
                            <!-- panel title -->
                            <div class="d-flex justify-content-center mt-3">
                                <p class="text-dark font-weight-light">Purchase Summary</p>
                            </div>
                            <!-- purchase info -->
                            <div class="d-flex flex-column">
                                <!-- single book -->
                                <div class="d-flex my-3 align-items-end" th:each="item : ${user.cart.items}">
                                    <!-- left content -->
                                    <div class="mr-auto">
                                        <div class="d-flex flex-column">
                                            <!-- book title -->
                                            <div>
                                                <a class="text-info font-weight-bold" th:href="@{/book/{id}(id=${item.book.id})}" style="text-decoration: none">
                                                    <p class="my-0" th:unless="${item.book.title.isBlank()}">
                                                        <span th:text="${item.book.title.substring(0, T(java.lang.Math).min(item.book.title.length(), __${@environment.getProperty('fm.front-end.checkout.title-max-size')}__))}">Book title</span>
                                                    </p>
                                                    <p class="my-0" th:if="${item.book.title.isBlank()}">
                                                        <small><i>unknown title</i></small>
                                                    </p>
                                                </a>
                                            </div>
                                            <!-- price composition -->
                                            <div class="my-0 small text-dark">
                                                <span th:text="${item.quantity}"></span> x <span class="font-weight-lighter">€</span><span th:text="${item.book.price}"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- right content -->
                                    <div>
                                        <p class="my-0 small text-dark"><span class="font-weight-lighter">€</span><span th:text="${item.price}">100</span></p>
                                    </div>
                                </div>
                            </div>
                            <!-- final price -->
                            <div class="d-flex my-3 text-dark">
                                <div class="mr-auto"><span class="font-weight-bolder">Total</span></div>
                                <div><span class="font-weight-lighter">€</span><span class="font-weight-bolder" id="total" th:text="${user.cart.price}">380</span></div>
                            </div>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                </div>
                <!-- right margin -->
                <div class="col-sm-1"></div>
            </div>
        </div>
        <!-- footer -->
        <footer th:replace="fragments/components::footer"></footer>
        <!-- checkout -->
        <i th:replace="fragments/components::host-address"></i>
        <i id="pk" th:attr="pk=${@environment.getProperty('fm.payment.stripe.key.public')}"></i>
        <script th:src="@{/js/checkout.js}"></script>
    </body>
</html>