<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Checkout</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/9902891181.js" crossorigin="anonymous"></script>
        <script src="https://js.stripe.com/v3/"></script>
        <link type="text/css" rel="stylesheet" th:href="@{/css/fmstyle.css}" />
    </head>
    <body>
        <div class="container-fluid">
            <!-- header -->
            <header th:replace="fragments/components::header"></header>
            <!-- main categories -->
            <div th:replace="fragments/components::mainCatsNavBar"></div>
            <!-- title -->
            <div th:replace="fragments/components::title(text = 'Checkout')"></div>
            <!-- main content -->
            <div class="row">
                <div class="col-sm-3 bg-white"></div>
                <div class="col-sm-6 bg-light">
                    <form id='payment-form' th:action="@{/user/checkout}" method="POST" action="#">

                        <!-------------------------------------------------------------------------Title-->
                        <div class="form-group">
                            <label for="title">Title:</label>
                            <input class="form-control" type="text" id="title" placeholder="enter title" th:pattern="${@environment.getProperty('validation.regex.text-basic')}">
                            <div class="invalid-feedback">Please fill out this field correctly</div>
                        </div>
                        <!-- card element -->
                        <div class="form-group">
                            <label for="card-element">Debit or Credit Card:</label>
                            <div class="form-control" id="card-element" style='height: 2.4em; padding-top: .7em;'>
                                <!-- card element here -->
                            </div>
                        </div>

                        <!-- error -->
                        <div id="card-errors" role="alert" style="color: red; font-size: small"></div>

                        <!-- Pay button -->
                        <button class="btn btn-sm btn-info px-5 my-3" type="submit" id="card-button" th:attr="data-secret=${client_secret}">Pay</button>
                        <!-- Cancel button -->
                        <a class="btn btn-sm btn-secondary px-5 my-3 text-white" th:href="@{/home}">Cancel</a>
                    </form>
                </div>
                <div class="col-sm-3 bg-white"></div>
            </div>
            <!-- footer -->
            <footer th:replace="fragments/components::fixedFooter"></footer>
        </div>
        <!-- checkout -->
        <script th:src="@{/js/checkout.js}"></script>
        <script th:src="@{/js/disableFormSubmissionOnInvalidField.js}"></script>
    </body>
</html>