<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head th:replace="fragments/components::head('Delete Account')"></head>
    <body>
        <!-- fm-content -->
        <div class="container-fluid fm-content">
            <header th:replace="fragments/components::header"></header>
            <!-- main categories -->
            <div th:replace="fragments/components::mainCatsNavBar"></div>
            <div th:replace="fragments/components::title_2_8_2(text = ${user.profile.firstName} + ', we\'re sorry to see you go')"></div>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <form class="needs-validation" novalidate th:action="@{/user/deleteUser}" th:object="${userDeletionForm}" method="POST">
                        <div th:replace="fragments/components::backendGenericObjectFieldErrors"></div>
                        <!-- deletion reason -->
                        <div class="d-flex flex-column">
                            <h5 class="mb-3 font-weight-lighter">Please, tell us why you are closing your account:</h5>
                            <div class="pretty p-default p-round p-thick mb-3" th:each="dr : ${deletionReasons}">
                                <input type="radio" th:field="*{deletionReason}" th:value="${dr.ordinal()}" th:id="'dr-' + ${dr.ordinal()}"/>
                                <div class="state p-info-o">
                                    <label class="font-weight-lighter" th:for="'dr-' + ${dr.ordinal()}" th:text="${dr.text}">deletion reason</label>
                                </div>
                            </div>
                        </div>
                        <!-- comment -->
                        <div class="form-group">
                            <h5 class="mb-3 font-weight-lighter">Your feedback matters, so feel free to leave us a comment:</h5>
                            <textarea class="form-control" rows="5" th:field="*{comment}" id="comment" placeholder="enter your comment"></textarea>
                            <div class="invalid-feedback">Please fill out this field correctly</div>
                        </div>
                        <div th:replace="fragments/components::backendSpecificObjectFieldErrors('comment')"></div>
                        <!-- password -->
                        <div class="form-group">
                            <h5 class="mb-3 font-weight-lighter">To complete the deletion, we need you to enter your password: *</h5>
                            <input class="form-control" type="password" th:field="*{password}" id="password" placeholder="enter your password" required/>
                            <div class="invalid-feedback">Please introduce your current password</div>
                        </div>
                        <div th:replace="fragments/components::backendSpecificObjectFieldErrors('password')"></div>
                        <!-- delete or cancel -->
                        <div class="d-flex">
                            <button class="btn btn-outline-danger btn-block px-5 mr-2" type="submit">Delete Account</button>
                            <div class="ml-auto">
                                <a th:replace="fragments/components::cancelButtonToBack(text = 'Cancel')"></a>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
        <!-- footer -->
        <footer th:replace="fragments/components::footer"></footer>
        <script th:src="@{/js/disableFormSubmissionOnInvalidField.js}"></script>
        <!-- back button -->
        <script th:src="@{/js/back.js}"></script>
    </body>
</html>