<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Category Edition</title>
        <link rel="stylesheet" th:href="@{/styles.css}" />
    </head>
    <body>
        <h1>Category Edition Page</h1>
        <form action="#" th:action="@{/admin/editCategory}" th:object="${category}" method="post">
            <fieldset>
                <div th:if="${#fields.hasErrors()}">
                    <span class="validationError">Please correct the problems below and resubmit.</span>
                </div>
                <legend>Edit Category</legend>
                <input type="hidden" th:field="*{id}"/>
                <input type="hidden" th:field="*{parent.name}"/>
                <div>
                    <span>Name:<input type="text" th:field="*{name}"/></span>
                    <span class="validationError" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</span>
                </div>
                <br/>
                <div>
                    <span>Nested under:</span>
                    <select th:field="*{parent.id}">
                        <option th:each="ic : ${indentedCategories}"
                                th:value="${ic.id}"
                                th:text="${ic.name}"
                                th:selected="${ic.id==category.parent.id}"
                                th:disabled="${descendants.contains(ic)}">
                        </option>
                    </select>
                </div>
                <br/>
                <div>
                    <span><input type="submit" value="Update Category"/></span>
                </div>
            </fieldset>
        </form>
        <p><a th:href="@{/admin/categories}">go back</a></p>
    </body>
</html>