<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head th:replace="fragments/components::head('Edit Book')"></head>
    <body>
        <div class="container-fluid">
            <div th:replace="fragments/components::header"></div>
            <!-- main categories -->
            <div th:replace="fragments/components::mainCatsNavBar"></div>
            <div th:replace="fragments/components::title(text = 'Edit Book')"></div>
            <div class="row">
                <div class="col-sm-2 bg-white"></div>
                <div class="col-sm-8">
                    <form class="needs-validation" novalidate id="isbnForm" th:action="@{/admin/editBook}" th:object="${formBook}" method="POST" enctype="multipart/form-data" action="#">
                        <input type="hidden" th:field="*{bookId}"/>
                        <div th:replace="fragments/components::backendValidationErrors"></div>
                        <div class="form-row">
                            <div class="col-sm-6 bg-light">
                                <!-------------------------------------------------------------------------Title-->
                                <div class="form-group">
                                    <label for="title">Title:</label>
                                    <input class="form-control" type="text" th:field="*{title}" id="title" placeholder="enter title" th:pattern="${TEXT_BASIC}">
                                    <div class="invalid-feedback">Please fill out this field correctly</div>
                                </div>
                                <div th:replace="fragments/components::backendValidationFieldErrors('title')"></div>
                                <!-------------------------------------------------------------------------Publisher-->
                                <div class="form-group">
                                    <label for="publisher">Publisher:</label>
                                    <input class="form-control" type="text" th:field="*{publisherName}" id="publisher" placeholder="enter publisher name" th:pattern="${TEXT_BASIC}">
                                    <div class="invalid-feedback">Please fill out this field correctly</div>
                                </div>
                                <div th:replace="fragments/components::backendValidationFieldErrors('publisherName')"></div>
                                <!-------------------------------------------------------------------------Year-->
                                <div class="form-group">
                                    <label for="year">Year of Publication:</label>
                                    <input class="form-control" type="text" th:field="*{year}" id="year" placeholder="enter year" th:pattern="${YEAR}">
                                    <div class="invalid-feedback">Please fill out this field correctly</div>
                                </div>
                                <div th:replace="fragments/components::backendValidationFieldErrors('year')"></div>
                                <!-------------------------------------------------------------------------Category-->
                                <div class="form-group">
                                    <label for="category">Category:</label>
                                    <select class="custom-select" th:field="*{categoryId}" id="category">
                                        <option th:each="ic : ${indentedCategories}"
                                                th:value="${ic.id}"
                                                th:text="${ic.name}"
                                                th:selected="${ic.id==formBook.categoryId}">
                                        </option>
                                    </select>
                                </div>
                                <!-------------------------------------------------------------------------Stored Image-->
                                <div class="form-group">
                                    <label for="input1">Image:</label>
                                    <select class="custom-select" id="input1" th:field="*{storedImageId}">
                                        <option th:each="imageInfo : ${imagesInfo}"
                                                th:value="${imageInfo.id}"
                                                th:text="${imageInfo.name}"
                                                th:selected="${imageInfo.id==formBook.storedImageId}">
                                        </option>
                                    </select>
                                </div>
                                <!-------------------------------------------------------------------------New Image-->
                                <div class="form-group">
                                    <div class="pretty p-default p-round p-thick mb-2">
                                        <input type="checkbox" id="switch"/>
                                        <div class="state p-info-o">
                                            <label for="switch">Select New Image:</label>
                                        </div>
                                    </div>
                                    <input class="form-control" type="file" th:field="*{image}" id="input2" disabled accept="image/*" required/>
                                    <div class="invalid-feedback">Please select an image</div>
                                </div>
                                <div th:replace="fragments/components::backendValidationFieldErrors('image')"></div>
                                <!-------------------------------------------------------------------------Description-->
                                <div class="form-group">
                                    <label for="description">Description:</label>
                                    <textarea class="form-control" rows="5" th:field="*{description}" id="description" placeholder="enter description" th:pattern="${TEXT_LONG}"></textarea>
                                    <div class="invalid-feedback">Please fill out this field correctly</div>
                                </div>
                                <div th:replace="fragments/components::backendValidationFieldErrors('description')"></div>
                            </div>
                            <div class="col-sm-6 bg-light">
                                <!-------------------------------------------------------------------------Authors-->
                                <div id="authors">
                                    <!------------------------------------------------Author 0-->
                                    <div id="author0">
                                        <label for="authorFirstName0">Author/s:</label>
                                        <div class="input-group mb-3">
                                            <input class="form-control" type="text" th:field="*{authorFirstName0}" id="authorFirstName0" placeholder="First Name" th:pattern="${TEXT_BASIC}">
                                            <input class="form-control" type="text" th:field="*{authorLastName0}" id="authorLastName0" placeholder="Last Name" th:pattern="${TEXT_BASIC}">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-info" style="display: block" type="button" id="showAuthor1" title="Add Author"><i class="fas fa-plus"></i></button>
                                            </div>
                                            <div class="invalid-feedback">Please fill out this field correctly</div>
                                        </div>
                                        <div th:replace="fragments/components::backendValidationFieldErrors('authorFirstName0')"></div>
                                        <div th:replace="fragments/components::backendValidationFieldErrors('authorLastName0')"></div>
                                    </div>
                                    <!------------------------------------------------Author 1-->
                                    <div id="author1" style="display: none">
                                        <div class="input-group mb-3">
                                            <input class="form-control" type="text" th:field="*{authorFirstName1}" id="authorFirstName1" placeholder="First Name" th:pattern="${TEXT_BASIC}">
                                            <input class="form-control" type="text" th:field="*{authorLastName1}" id="authorLastName1" placeholder="Last Name" th:pattern="${TEXT_BASIC}">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-info" style="display: none" type="button" id="showAuthor2" title="Add Author"><i class="fas fa-plus"></i></button>
                                                <button class="btn btn-outline-danger" style="display: none" type="button" id="hideAuthor1" title="Delete Author"><i class="fas fa-minus"></i></button>
                                            </div>
                                            <div class="invalid-feedback">Please fill out this field correctly</div>
                                        </div>
                                        <div th:replace="fragments/components::backendValidationFieldErrors('authorFirstName1')"></div>
                                        <div th:replace="fragments/components::backendValidationFieldErrors('authorLastName1')"></div>
                                    </div>
                                    <!------------------------------------------------Author 2-->
                                    <div id="author2" style="display: none">
                                        <div class="input-group mb-3">
                                            <input class="form-control" type="text" th:field="*{authorFirstName2}" id="authorFirstName2" placeholder="First Name" th:pattern="${TEXT_BASIC}">
                                            <input class="form-control" type="text" th:field="*{authorLastName2}" id="authorLastName2" placeholder="Last Name" th:pattern="${TEXT_BASIC}">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-info" style="display: none" type="button" id="showAuthor3" title="Add Author"><i class="fas fa-plus"></i></button>
                                                <button class="btn btn-outline-danger" style="display: none" type="button" id="hideAuthor2" title="Delete Author"><i class="fas fa-minus"></i></button>
                                            </div>
                                            <div class="invalid-feedback">Please fill out this field correctly</div>
                                        </div>
                                        <div th:replace="fragments/components::backendValidationFieldErrors('authorFirstName2')"></div>
                                        <div th:replace="fragments/components::backendValidationFieldErrors('authorLastName2')"></div>
                                    </div>
                                    <!------------------------------------------------Author 3-->
                                    <div id="author3" style="display: none">
                                        <div class="input-group mb-3">
                                            <input class="form-control" type="text" th:field="*{authorFirstName3}" id="authorFirstName3" placeholder="First Name" th:pattern="${TEXT_BASIC}">
                                            <input class="form-control" type="text" th:field="*{authorLastName3}" id="authorLastName3" placeholder="Last Name" th:pattern="${TEXT_BASIC}">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-info" style="display: none" type="button" id="showAuthor4" title="Add Author"><i class="fas fa-plus"></i></button>
                                                <button class="btn btn-outline-danger" style="display: none" type="button" id="hideAuthor3" title="Delete Author"><i class="fas fa-minus"></i></button>
                                            </div>
                                            <div class="invalid-feedback">Please fill out this field correctly</div>
                                        </div>
                                        <div th:replace="fragments/components::backendValidationFieldErrors('authorFirstName3')"></div>
                                        <div th:replace="fragments/components::backendValidationFieldErrors('authorLastName3')"></div>
                                    </div>
                                    <!------------------------------------------------Author 4-->
                                    <div id="author4" style="display: none">
                                        <div class="input-group mb-3">
                                            <input class="form-control" type="text" th:field="*{authorFirstName4}" id="authorFirstName4" placeholder="First Name" th:pattern="${TEXT_BASIC}">
                                            <input class="form-control" type="text" th:field="*{authorLastName4}" id="authorLastName4" placeholder="Last Name" th:pattern="${TEXT_BASIC}">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-danger" style="display: none" type="button" id="hideAuthor4" title="Delete Author"><i class="fas fa-minus"></i></button>
                                            </div>
                                            <div class="invalid-feedback">Please fill out this field correctly</div>
                                        </div>
                                        <div th:replace="fragments/components::backendValidationFieldErrors('authorFirstName4')"></div>
                                        <div th:replace="fragments/components::backendValidationFieldErrors('authorLastName4')"></div>
                                    </div>
                                </div>
                                <!-------------------------------------------------------------------------ISBN-->
                                <div class="form-group">
                                    <label for="isbn">ISBN:</label>
                                    <input class="form-control" type="text" th:field="*{isbn}" id="isbn" placeholder="enter isbn" required th:pattern="${ISBN}">
                                    <div class="invalid-feedback">Please fill out this field with a valid ISBN</div>
                                </div>
                                <div th:replace="fragments/components::backendValidationFieldErrors('isbn')"></div>
                                <!-------------------------------------------------------------------------Language-->
                                <div class="form-group">
                                    <label for="language">Language:</label>
                                    <select class="custom-select" th:field="*{language}" id="language">
                                        <option th:each="lan : ${languages}"
                                                th:value="${lan.name()}"
                                                th:text="${lan.name()}"
                                                th:selected="${lan.name()==formBook.language.name()}">
                                        </option>
                                    </select>
                                </div>
                                <!-------------------------------------------------------------------------Pages-->
                                <div class="form-group">
                                    <label for="numPages">Number of Pages:</label>
                                    <input class="form-control" type="number" th:field="*{numPages}" id="numPages" placeholder="enter number of pages" value="1" th:min="${MIN_NUM_PAGES}" th:max="${MAX_NUM_PAGES}">
                                    <div class="invalid-feedback">Please fill out this field correctly</div>
                                </div>
                                <div th:replace="fragments/components::backendValidationFieldErrors('numPages')"></div>
                                <!-------------------------------------------------------------------------Stock-->
                                <div class="form-group">
                                    <label for="stock">Units in Stock:</label>
                                    <input class="form-control" type="number" th:field="*{stock}" id="stock" placeholder="enter stock" th:min="${MIN_NUM_STOCK}" th:max="${MAX_NUM_STOCK}">
                                    <div class="invalid-feedback">Please fill out this field correctly</div>
                                </div>
                                <div th:replace="fragments/components::backendValidationFieldErrors('stock')"></div>
                                <!-------------------------------------------------------------------------Price-->
                                <label for="price">Price:</label>
                                <div class="input-group mb-3">
                                    <input class="form-control" type="text" th:field="*{price}" id="price" placeholder="enter price" th:pattern="${PRICE}">
                                    <div class="input-group-append">
                                        <span class="input-group-text">€</span>
                                    </div>
                                    <div class="invalid-feedback">Please fill out this field correctly</div>
                                </div>
                                <div th:replace="fragments/components::backendValidationFieldErrors('price')"></div>
                            </div>
                            <div class="col-sm-12 bg-light">
                                <button th:replace="fragments/components::saveButton"></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-2 bg-white"></div>
            </div>
            <footer th:replace="fragments/components::footer"></footer>
        </div>
        <script th:src="@{/js/disableFormSubmissionOnInvalidField.js}"></script>
        <script th:src="@{/js/isbnChecksum.js}"></script>
        <script th:src="@{/js/binaryInputSwitch.js}"></script>
        <script th:src="@{/js/manageAuthors.js}"></script>
    </body>
</html>