<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head th:replace="fragments/components::head('Edit Password')"></head>
    <body>
        <!-- fm-content -->
        <div class="container-fluid fm-content">
            <!-- header -->
            <header th:replace="fragments/components::header"></header>
            <!-- main categories -->
            <div th:replace="fragments/components::mainCatsNavBar"></div>
            <!-- title -->
            <div th:replace="fragments/components::title_2_8_2(text = 'Password Edition')"></div>
            <!-- main content -->
            <div class="row">
                <!-- left margin -->
                <div class="col-sm-2"></div>
                <!-- form -->
                <div class="col-sm-8">
                    <form class="needs-validation" novalidate id="form" th:action="@{/editPassword}" th:object="${passwordForm}" method="POST">
                        <div th:replace="fragments/components::backendRequestParamError"></div>
                        <div class="form-row">
                            <div class="col-sm-12">
                                <!-- Current Password -->
                                <div class="form-group">
                                    <label class="small font-weight-lighter" for="currentPassword">Current Password *</label>
                                    <input class="form-control" type="password" th:field="*{currentPassword}" id="currentPassword" placeholder="enter your current password" required/>
                                    <div class="invalid-feedback">Please introduce your current password</div>
                                </div>
                                <div th:replace="fragments/components::backendSpecificObjectFieldErrors('currentPassword')"></div>
                                <!-- New Password -->
                                <div class="form-group">
                                    <label class="small font-weight-lighter" for="newPassword">New Password *</label>
                                    <input class="form-control" type="password" th:field="*{password}" id="newPassword" placeholder="enter the desired new password" required th:pattern="${@environment.getProperty('fm.validation.regex.password')}" th:title="#{password.invalidFormat}"/>
                                    <div class="invalid-feedback" th:text="#{password.invalidFormat}">Please fill out this field with a valid password</div>
                                </div>
                                <div th:replace="fragments/components::backendSpecificObjectFieldErrors('password')"></div>
                                <!-- Confirm New Password -->
                                <div class="form-group">
                                    <label class="small font-weight-lighter" for="newPasswordConfirm">Confirm New Password *</label>
                                    <input class="form-control" type="password" th:field="*{matchingPassword}" id="newPasswordConfirm" placeholder="confirm the new password" required pattern=".*" title="Please enter the same password as above"/>
                                    <div class="invalid-feedback" th:text="#{password.notMatching}">Please enter the same password as above</div>
                                </div>
                            </div>
                            <!-- submit or cancel -->
                            <div class="col-sm-12 d-flex align-items-end">
                                <button th:replace="fragments/components::submitButton(text = 'Change password')"></button>
                                <div class="ml-auto">
                                    <a th:replace="fragments/components::cancelButtonToBack(text = 'Cancel')"></a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- right margin -->
                <div class="col-sm-2"></div>
            </div>
        </div>
        <!-- footer -->
        <footer th:replace="fragments/components::footer"></footer>
        <script th:src="@{/js/disableFormSubmissionOnInvalidField.js}"></script>
        <script th:src="@{/js/matchingPasswords.js}"></script>
    </body>
</html>