<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head th:replace="fragments/components::head('Email Confirmation')"></head>
    <body>
        <!-- fm-content -->
        <div class="container-fluid fm-content">
            <!-- header -->
            <header th:replace="fragments/components::header"></header>
            <!-- main categories -->
            <div th:replace="fragments/components::mainCatsNavBar"></div>
            <!-- title -->
            <div th:replace="fragments/components::title(text = 'Email Confirmation')"></div>
            <!-- Content -->
            <div class="row bg-white">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <hr class="mb-4 mt-0"/>
                    <div class="bg-light">
                        <p class="px-2">You should have received an email with a confirmation link. In order to complete the process, please click on it.</p>
                        <p class="px-2">Remember to check your spam folder.</p>
                        <p class="px-2"><span th:replace="fragments/components::contactUs"></span></p>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>
        <!-- footer -->
        <footer th:replace="fragments/components::footer"></footer>
    </body>
</html>