<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head th:replace="fragments/components::head('Email Confirmation Error')"></head>
    <body>
        <div class="container-fluid">
            <!-- header -->
            <header th:replace="fragments/components::header"></header>
            <!-- main categories -->
            <div th:replace="fragments/components::mainCatsNavBar"></div>
            <!-- title -->
            <div th:replace="fragments/components::title(text = ${message})"></div>
            <!-- Content -->
            <div class="row bg-white">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <hr class="mb-4 mt-0"/>
                    <div class="bg-light">
                        <br/>
                        <p class="px-2"><span th:replace="fragments/components::contactUs"></span></p>
                        <br/>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>
            <!-- footer -->
            <footer th:replace="fragments/components::fixedFooter"></footer>
        </div>
    </body>
</html>