<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head th:replace="fragments::head"></head>
    <body>
        <header th:replace="fragments::header"></header>
        <div class="container">
            <div th:replace="fragments::underHead('Images')"></div>
            <form class="needs-validation my-2" novalidate th:action="@{/admin/newImage}" method="POST" enctype="multipart/form-data" action="#">
                <div class="form-group">
                    <input class="form-control" type="file" th:name="image" required/>
                    <div class="invalid-feedback">Please select an image.</div>
                </div>
                <button th:replace="fragments::saveButton"></button>
            </form>
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th>Name</th>
                    <th>MIME type</th>
                    <th>is Default</th>
                    <th>Image</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="mi : ${allMetaInfo}">
                    <td><span th:text="${mi.name}">name</span></td>
                    <td><span th:text="${mi.mimeType}">mimeType</span></td>
                    <td><span th:text="${mi.default}">isDefault</span></td>
                    <td><img th:src="@{/image/{id}(id=${mi.id})}" style="width:64px;height:64px;"></td>
                    <td th:if="${!mi.default}">
                        <a th:href="@{/admin/deleteImage/{id}(id=${mi.id})}" data-toggle="tooltip" title="Delete Image">
                            <i class='fas fa-trash-alt' style='color:red'></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <footer th:replace="fragments::footer"></footer>
        <script th:replace="fragments::disableFormSubmissionOnInvalidField"></script>
        <script th:replace="fragments::enableTooltips"></script>
    </body>
</html>