<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head th:replace="fragments/components::head('Images')"></head>
    <body>
        <!-- fm-content -->
        <div class="container-fluid fm-content">
            <!-- header -->
            <header th:replace="fragments/components::header"></header>
            <!-- main categories -->
            <div th:replace="fragments/components::mainCatsNavBar"></div>
            <!-- title -->
            <div th:replace="fragments/components::title(text = 'Images')"></div>
            <!-- main content -->
            <div class="row">
                <!-- left margin -->
                <div class="col-sm-1 bg-white"></div>
                <!-- content -->
                <div class="col-sm-10 bg-light">
                    <!-- new image form -->
                    <p class="mt-1 mb-0">Select a new image:</p>
                    <form class="needs-validation mt-1" novalidate th:action="@{/admin/newImage}" th:object="${imagesWrapper}" method="POST" enctype="multipart/form-data">
                        <div class="form-group mb-3">
                            <input class="form-control" type="file" multiple th:field="*{images}" accept="image/*" required/>
                            <div class="invalid-feedback">Please select an image</div>
                        </div>
                        <div th:replace="fragments/components::backendSpecificObjectFieldErrors('images')"></div>
                        <button class="btn btn-sm btn-info px-5 my-1" type="submit">Save</button>
                    </form>
                    <hr/>
                    <!-- pagination control -->
                    <div class="row">
                        <!-- page size -->
                        <div class="col-sm-4 d-flex align-items-end">
                            <select class="custom-select custom-select-sm text-secondary bg-light" id="paginationPageSize" style="max-width: 33%">
                                <option th:each="ps : ${T(misrraimsp.uned.pfg.firstmarket.config.staticParameter.PageSize).values()}"
                                        th:value="${ps.ordinal()}"
                                        th:text="${ps.size}"
                                        th:selected="${ps.size eq pageOfEntities.pageable.pageSize}">
                                </option>
                            </select>
                            <p class="my-0 ml-2">
                                <small class="text-dark font-weight-lighter">Page size</small>
                            </p>
                        </div>
                        <!-- page legend -->
                        <div class="col-sm-4 d-flex align-items-end justify-content-center">
                            <div class="text-dark">
                                <p th:replace="fragments/components::paginationLegend"></p>
                            </div>
                        </div>
                        <!-- sort criteria -->
                        <div class="col-sm-4 d-flex align-items-end justify-content-end">
                            <!-- label -->
                            <p class="my-0 mr-2">
                                <small class="text-dark font-weight-lighter">Sorted by</small>
                            </p>
                            <!-- options -->
                            <select class="custom-select custom-select-sm text-secondary bg-light" id="paginationSortCriteria" style="max-width: 80%">
                                <option th:each="sc : ${T(misrraimsp.uned.pfg.firstmarket.config.staticParameter.sort.ImageSortCriteria).values()}"
                                        th:value="${sc.ordinal()}"
                                        th:text="${sc.text}"
                                        th:selected="${sort ne null && sc.ordinal() eq sort.ordinal()}">
                                </option>
                            </select>
                        </div>
                    </div>
                    <hr/>
                    <!-- images -->
                    <table class="table">
                        <!-- table head -->
                        <thead class="thead-light">
                            <tr>
                                <th>Image</th>
                                <th>Name</th>
                                <th>is Default</th>
                                <th>MIME type</th>
                                <th>Size (bytes)</th>
                                <th><small>Last modified</small></th>
                                <th></th>
                            </tr>
                        </thead>
                        <!-- table body -->
                        <tbody>
                            <tr th:each="mi : ${pageOfEntities}">
                                <!-- image visualization -->
                                <td><a th:href="@{/image/{id}(id=${mi.id})}"><img th:src="@{/image/{id}(id=${mi.id})}" style="width:64px;height:64px;"></a></td>
                                <!-- image name -->
                                <td><span th:text="${mi.name}">name</span></td>
                                <!-- is default -->
                                <td>
                                    <span th:if="${mi.default}"><i class="text-info fas fa-check-double fa-lg"></i></span>
                                    <span th:unless="${mi.default}">-</span>
                                </td>
                                <!-- image MIME type -->
                                <td><span th:text="${mi.mimeType}">mimeType</span></td>
                                <!-- image size -->
                                <td><span th:text="${mi.size}">size</span></td>
                                <!-- date -->
                                <td><small th:text="${mi.formattedLastModifiedDateTime}"></small></td>
                                <!-- actions -->
                                <td>
                                    <div class="d-flex justify-content-around">
                                        <!-- set as default -->
                                        <div class="mr-auto">
                                            <form th:action="@{/admin/setDefaultImage}" method="POST" action="#">
                                                <input type="hidden" name="imageId" th:value="${mi.id}"/>
                                                <input type="hidden" name="pageNo" th:value="${pageOfEntities.number}"/>
                                                <input type="hidden" name="pageSize" th:value="${pageSize.ordinal()}"/>
                                                <input type="hidden" name="sort" th:value="${sort.ordinal()}"/>
                                                <button th:if="${mi.default}" disabled class="btn btn-sm btn-outline-secondary">
                                                    <i class='fas fa-check-double'></i>
                                                </button>
                                                <button th:unless="${mi.default}" class="btn btn-sm btn-outline-secondary" type="submit" data-toggle="tooltip" title="Set as Default Image">
                                                    <i class='fas fa-check-double'></i>
                                                </button>
                                            </form>
                                        </div>
                                        <!-- delete -->
                                        <div>
                                            <button th:if="${mi.default}" disabled class="btn btn-sm btn-outline-secondary">
                                                <i class='fas fa-trash-alt'></i>
                                            </button>
                                            <button th:unless="${mi.default}" class="modalTrigger btn btn-sm btn-outline-secondary" th:id="'del-' + ${mi.id}" data-toggle="tooltip" title="Delete Image">
                                                <i class='fas fa-trash-alt'></i>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- pagination -->
                    <div class="row mt-3 mb-5">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <!-- pagination links -->
                            <div th:replace="fragments/components::paginationLinks"></div>
                            <!-- pagination legend -->
                            <div class="mt-2 text-center text-info">
                                <p th:replace="fragments/components::paginationLegend"></p>
                            </div>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                </div>
                <!-- right margin -->
                <div class="col-sm-1 bg-white"></div>
            </div>
            <!-- modal -->
            <div th:replace="fragments/components::deletingModal(entity = 'Image')"></div>
        </div>
        <!-- footer -->
        <footer th:replace="fragments/components::footer"></footer>
        <script th:src="@{/js/disableFormSubmissionOnInvalidField.js}"></script>
        <script th:src="@{/js/enableTooltips.js}"></script>
        <!-- pagination functionality -->
        <a id="paginationTrigger" style="display: none"></a>
        <script th:replace="fragments/components::paginationMvcVariables"></script>
        <script th:src="@{/js/paginationLinks.js}"></script>
        <script th:src="@{/js/paginationControl.js}"></script>
        <!-- modal functionality -->
        <i th:replace="fragments/components::host-address"></i>
        <i th:replace="fragments/components::modal-action(action = 'deleteImage')"></i>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                document.dispatchEvent(new CustomEvent('custom-htmlReady'));
            }, false);
        </script>
        <script th:src="@{/js/modalManager.js}"></script>
    </body>
</html>