<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head th:replace="fragments/components::head('Images')"></head>
    <body>
        <div class="container-fluid">
            <!-- header -->
            <header th:replace="fragments/components::header"></header>
            <!-- main categories -->
            <div th:replace="fragments/components::mainCatsNavBar"></div>
            <!-- title -->
            <div th:replace="fragments/components::title(text = 'Images')"></div>
            <!-- main content -->
            <div class="row">
                <div class="col-sm-3 bg-white"></div>
                <div class="col-sm-6 bg-light">
                    <!-- new image form -->
                    <p class="mt-1 mb-0">Select a new image:</p>
                    <form class="needs-validation mt-1" novalidate th:action="@{/admin/newImage}" th:object="${imagesWrapper}" method="POST" enctype="multipart/form-data" action="#">
                        <div class="form-group mb-3">
                            <input class="form-control" type="file" multiple th:field="*{images}" accept="image/*" required/>
                            <div class="invalid-feedback">Please select an image</div>
                        </div>
                        <div th:replace="fragments/components::backendSpecificObjectFieldErrors('images')"></div>
                        <button class="btn btn-info px-5 my-1" type="submit">Save</button>
                    </form>
                    <!-- pagination legend -->
                    <div class="d-flex align-items-end justify-content-end">
                        <div class="text-info">
                            <p th:replace="fragments/components::paginationLegend"></p>
                        </div>
                    </div>
                    <hr/>
                    <!-- images -->
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th>Name</th>
                                <th>MIME type</th>
                                <th>is Default</th>
                                <th>Image</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="mi : ${pageOfEntities}">
                                <td><span th:text="${mi.name}">name</span></td>
                                <td><span th:text="${mi.mimeType}">mimeType</span></td>
                                <td><span th:text="${mi.default}">isDefault</span></td>
                                <td><img th:src="@{/image/{id}(id=${mi.id})}" style="width:64px;height:64px;"></td>
                                <td th:if="${!mi.default}">
                                    <button class="modalTrigger btn btn-sm btn-outline-secondary" th:id="'del-' + ${mi.id}" data-toggle="tooltip" title="Delete Image">
                                        <i class='fas fa-trash-alt'></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- pagination -->
                    <div class="row mt-4">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <!-- pagination links -->
                            <div th:replace="fragments/components::paginationLinks"></div>
                            <!-- pagination legend -->
                            <div class="mt-2 text-center text-info">
                                <p th:replace="fragments/components::paginationLegend"></p>
                            </div>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                </div>
                <div class="col-sm-3 bg-white"></div>
            </div>
            <!-- modal -->
            <div th:replace="fragments/components::deletingModal(entity = 'Image')"></div>
            <!-- footer -->
            <footer th:replace="fragments/components::footer"></footer>
        </div>
        <script th:src="@{/js/disableFormSubmissionOnInvalidField.js}"></script>
        <script th:src="@{/js/enableTooltips.js}"></script>
        <!-- pagination functionality -->
        <script th:replace="fragments/components::paginationMvcVariables"></script>
        <script th:src="@{/js/paginationLinks.js}"></script>
        <script th:src="@{/js/paginationLegend.js}"></script>
        <!-- modal functionality -->
        <script>
            let baseUrl = "http://localhost:8080/firstmarket/admin/deleteImage/";
            document.addEventListener("DOMContentLoaded", function() {
                document.dispatchEvent(new CustomEvent('custom-htmlReady'));
            }, false);
        </script>
        <script th:src="@{/js/modalManager.js}"></script>
    </body>
</html>