<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head th:replace="fragments::head"></head>
    <body>
        <header th:replace="fragments::header"></header>
        <div class="container">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/admin}">Admin</a></li>
                <li class="breadcrumb-item"><a th:href="@{/admin/books}">Books Manager</a></li>
                <li class="breadcrumb-item active">New Book</li>
            </ul>
            <h1>New Book</h1>
            <form action="#" th:action="@{/admin/newBook}" th:object="${book}" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate>
                <!--<div class="ServerValidationError" th:if="${#fields.hasErrors()}">
                    <span>Please correct the problems below and resubmit.</span>
                </div>-->
                <div class="form-group">
                    <label for="isbn">ISBN:</label>
                    <input type="text" th:field="*{isbn}" class="form-control" id="isbn" placeholder="enter isbn" name="isbn" required>
                    <div class="invalid-feedback">Please fill out this field.</div>
                    <!--<span class="ServerValidationError" th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}">Error</span>-->
                </div>
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" th:field="*{title}" class="form-control" id="title" placeholder="enter title" name="title" required>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
                <div class="form-group">
                    <label for="category">Category:</label>
                    <select th:field="*{category.id}" class="custom-select" id="category" name="category">
                        <option th:each="ic : ${indentedCategories}"
                                th:value="${ic.id}"
                                th:text="${ic.name}">
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="image">Book image to upload:</label>
                    <input type="file" class="form-control" id="image" name="image" required/>
                </div>
                <button type="submit" class="btn btn-primary">Save Book</button>
            </form>
        </div>
        <footer th:replace="fragments::footer"></footer>
        <script th:replace="fragments::disableFormSubmissionOnInvalidField"></script>
    </body>
</html>