<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head>
        <meta charset="UTF-8">
        <title>New Book</title>
    </head>
    <body>
        <form action="#" th:action="@{/firstmarket/admin/newBook}" th:object="${book}" method="post">
        <fieldset>
            <legend>New Book Form</legend>
            <span>Id:<input type="text" th:field="*{id}"/></span>
            <span>ISBN:<input type="text" th:field="*{isbn}"/></span>
            <span>Title:<input type="text" th:field="*{title}"/></span>
            <span><input type="submit" value="Save Book"/></span>
        </fieldset>
        </form>
        <p><a th:href="@{firstmarket/admin/books}">go back</a></p>
    </body>
</html>