<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head th:replace="fragments::head"></head>
    <body>
        <header th:replace="fragments::header"></header>
        <div class="container">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/admin}">Admin</a></li>
                <li class="breadcrumb-item"><a th:href="@{/admin/categories}">Categories Manager</a></li>
                <li class="breadcrumb-item active">New Category</li>
            </ul>
            <h1>New Category</h1>
            <form action="#" th:action="@{/admin/newCategory}" th:object="${category}" method="POST" class="needs-validation" novalidate>
                <!--<div class="ServerValidationError" th:if="${#fields.hasErrors()}">
                    <span>Please correct the problems below and resubmit.</span>
                </div>-->
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="enter name" name="name" required>
                    <div class="invalid-feedback">Please fill out this field.</div>
                </div>
                <div class="form-group">
                    <label for="parent">Nested under:</label>
                    <select th:field="*{parent.id}" class="custom-select" id="parent" name="parent">
                        <option th:each="ic : ${indentedCategories}"
                                th:value="${ic.id}"
                                th:text="${ic.name}">
                        </option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Save Category</button>
            </form>
        </div>
        <footer th:replace="fragments::footer"></footer>
        <script th:replace="fragments::disableFormSubmissionOnInvalidField"></script>
    </body>
</html>