<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head th:replace="fragments/components::head('New Category')"></head>
    <body>
        <div class="container-fluid">
            <header th:replace="fragments/components::header"></header>
            <!-- main categories -->
            <div th:replace="fragments/components::mainCatsNavBar"></div>
            <header th:replace="fragments/components::title(text = 'New Category')"></header>
            <div class="row">
                <div class="col-sm-3 bg-white"></div>
                <div class="col-sm-6 bg-light">
                    <form class="needs-validation" novalidate th:action="@{/admin/newCategory}" th:object="${category}" method="POST" action="#">
                        <!-- name -->
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input class="form-control" type="text" th:field="*{name}" id="name" placeholder="enter name" th:pattern="${textBasicPattern}">
                            <div class="invalid-feedback">Please fill out this field correctly</div>
                        </div>
                        <div th:replace="fragments/components::backendSpecificObjectFieldErrors('name')"></div>
                        <!-- parent category -->
                        <div class="form-group">
                            <label for="parent">Nested under:</label>
                            <select class="custom-select" th:field="*{parent.id}" id="parent" >
                                <option th:each="ic : ${indentedCategories}"
                                        th:value="${ic.id}"
                                        th:text="${ic.name}">
                                </option>
                            </select>
                        </div>
                        <!-- save or cancel -->
                        <button th:replace="fragments/components::saveButton"></button>
                        <a th:replace="fragments/components::cancelButtonToBack"></a>
                    </form>
                </div>
                <div class="col-sm-3 bg-white"></div>
            </div>
            <footer th:replace="fragments/components::footer"></footer>
        </div>
        <script th:src="@{/js/disableFormSubmissionOnInvalidField.js}"></script>
    </body>
</html>