<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head th:replace="fragments::head"></head>
    <body>
        <header th:replace="fragments::header"></header>
        <div class="container">
            <ul class="breadcrumb my-2">
                <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                <li class="breadcrumb-item active">New User</li>
            </ul>
            <h3>New User</h3>
            <form class="needs-validation" novalidate th:action="@{/newUser}" th:object="${formUser}" method="POST" action="#">
                <div class="form-group">
                    <label for="email">E-mail:</label>
                    <input class="form-control" type="email" th:field="*{email}" id="email" placeholder="enter email" required th:pattern="${emailPattern}">
                    <div class="invalid-feedback">Please fill out this field with your email</div>
                    <div th:replace="fragments::backendValidationErrors('email')"></div>
                </div>
                <div class="form-group">
                    <label for="newPassword">Password:</label>
                    <input class="form-control" type="password" th:field="*{password}" id="newPassword" placeholder="enter password" required th:pattern="${passwordPattern}" th:title="#{password.invalidFormat}"/>
                    <div class="invalid-feedback" th:text="#{password.invalidFormat}">Please fill out this field with a valid password</div>
                    <div th:replace="fragments::backendValidationErrors('password')"></div>
                </div>
                <div class="form-group">
                    <label for="newPasswordConfirm">Confirm Password:</label>
                    <input class="form-control" type="password" th:field="*{matchingPassword}" id="newPasswordConfirm" placeholder="confirm password" required pattern=".*" title="Please enter the same password as above"/>
                    <div class="invalid-feedback" th:text="#{password.notMatching}">Please enter the same password as above</div>
                    <div th:replace="fragments::backendValidationErrors('matchingPassword')"></div>
                </div>
                <div class="form-group">
                    <label for="firstName">First Name:</label>
                    <input class="form-control" type="text" th:field="*{firstName}" id="firstName" placeholder="enter firstName" th:pattern="${textBasicPattern}">
                    <div class="invalid-feedback">Please fill out this field correctly</div>
                    <div th:replace="fragments::backendValidationErrors('firstName')"></div>
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name:</label>
                    <input class="form-control" type="text" th:field="*{lastName}" id="lastName" placeholder="enter lastName" th:pattern="${textBasicPattern}">
                    <div class="invalid-feedback">Please fill out this field correctly</div>
                    <div th:replace="fragments::backendValidationErrors('lastName')"></div>
                </div>
                <button th:replace="fragments::saveButton"></button>
            </form>
        </div>
        <footer th:replace="fragments::footer"></footer>
        <script th:replace="fragments::matchingPasswords"></script>
        <script th:replace="fragments::disableFormSubmissionOnInvalidField"></script>
    </body>
</html>