<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
    <head th:replace="fragments/components::head('Orders')"></head>
    <body>
        <!-- fm-content -->
        <div class="container-fluid fm-content">
            <!-- header -->
            <header th:replace="fragments/components::header"></header>
            <!-- main categories -->
            <div th:replace="fragments/components::mainCatsNavBar"></div>
            <!-- title -->
            <div sec:authorize="hasRole('ADMIN')">
                <div th:replace="fragments/components::title_1_10_1('Orders')"></div>
            </div>
            <div sec:authorize="hasRole('USER')">
                <div th:replace="fragments/components::title_1_10_1(text = ${user.profile.firstName} + '\'s Purchases')"></div>
            </div>
            <!-- pagination control -->
            <div class="row">
                <!-- left margin -->
                <div class="col-sm-1"></div>
                <!-- controls -->
                <div class="col-sm-10">
                    <div class="row mb-3 py-3">
                        <!-- page size -->
                        <div class="col-sm-4 d-flex align-items-end">
                            <select th:replace="fragments/components::paginationPageSizeOptions"></select>
                            <p th:replace="fragments/components::paginationPageSizeLabel"></p>
                        </div>
                        <!-- page legend -->
                        <div class="col-sm-4 d-flex align-items-end justify-content-center"><!--  -->
                            <div class="text-dark">
                                <p th:replace="fragments/components::paginationLegend"></p>
                            </div>
                        </div>
                        <!-- sort criteria -->
                        <div class="col-sm-4 d-flex align-items-end justify-content-end">
                            <!-- label -->
                            <p th:replace="fragments/components::paginationSortLabel"></p>
                            <!-- admin options -->
                            <select sec:authorize="hasRole('ADMIN')" class="max-width-70 custom-select custom-select-sm text-secondary" id="paginationSortCriteria">
                                <option th:each="sc : ${T(misrraimsp.uned.pfg.firstmarket.config.staticParameter.sort.OrderSortCriteria).values()}"
                                        th:value="${sc.ordinal()}"
                                        th:text="${sc.text}"
                                        th:selected="${sort ne null && sc.ordinal() eq sort.ordinal()}">
                                </option>
                            </select>
                            <!-- no-admin options -->
                            <select sec:authorize="!hasRole('ADMIN')" class="max-width-70 custom-select custom-select-sm text-secondary" id="paginationSortCriteria">
                                <option th:each="sc : ${T(misrraimsp.uned.pfg.firstmarket.config.staticParameter.sort.OrderSortCriteria).values()}"
                                        th:value="${sc.ordinal()}"
                                        th:text="${sc.text}"
                                        th:selected="${sort ne null && sc.ordinal() eq sort.ordinal()}"
                                        th:if="${sc ne T(misrraimsp.uned.pfg.firstmarket.config.staticParameter.sort.OrderSortCriteria).USER_ASC && sc ne T(misrraimsp.uned.pfg.firstmarket.config.staticParameter.sort.OrderSortCriteria).USER_DESC}">
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- right margin -->
                <div class="col-sm-1"></div>
            </div>
            <!-- main content -->
            <div class="row">
                <!-- left margin -->
                <div class="col-sm-1"></div>
                <!-- orders -->
                <div class="col-sm-10 d-flex flex-column">
                    <!-- order -->
                    <div class="row bg-white my-3" th:id="'collapsible-' + ${order.id}" th:each="order : ${pageOfEntities}">
                        <!-- order head -->
                        <div class="col-sm-12">
                            <div class="row">
                                <!-- left info -->
                                <div class="col-sm-4">
                                    <p class="font-weight-light text-dark mt-3">
                                        <small class="font-weight-lighter">Reference: </small><span th:text="${order.id}"></span>
                                    </p>
                                    <p class="font-weight-light text-dark">
                                        <small class="font-weight-lighter">Date: </small><span th:text="${order.formattedCreatedDateTime}"></span>
                                    </p>
                                </div>
                                <!-- middle info -->
                                <div class="col-sm-4">
                                    <p class="font-weight-light text-dark mt-3" sec:authorize="hasRole('ADMIN')">
                                        <small class="font-weight-lighter">User: </small><span th:text="${order.user.email}"></span>
                                    </p>
                                    <p class="font-weight-light text-dark" sec:authorize="hasRole('ADMIN')">
                                        <small class="font-weight-lighter">Total amount: </small>€ <span th:text="${order.payment.formattedAmount}"></span>
                                    </p>
                                    <p class="font-weight-light text-dark mt-3" sec:authorize="hasRole('USER')">
                                        <small class="font-weight-lighter">Status: </small><span th:text="${order.status.text}"></span>
                                    </p>
                                </div>
                                <!-- right info -->
                                <div class="col-sm-4">
                                    <p class="font-weight-light text-dark mt-3" sec:authorize="hasRole('ADMIN')">
                                        <small class="font-weight-lighter">Status: </small><span th:text="${order.status.text}"></span>
                                    </p>
                                    <div class="mt-n2" sec:authorize="hasRole('ADMIN')">
                                        <form th:action="@{/admin/setOrderStatus}" method="POST">
                                            <input type="hidden" name="orderId" th:value="${order.id}"/>
                                            <input type="hidden" name="pageNo" th:value="${pageOfEntities.number}"/>
                                            <input type="hidden" name="pageSize" th:value="${pageSize.ordinal()}"/>
                                            <input type="hidden" name="sort" th:value="${sort.ordinal()}"/>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <select class="custom-select custom-select-sm text-secondary border border-secondary" name="orderStatus">
                                                        <option th:each="status : ${T(misrraimsp.uned.pfg.firstmarket.config.staticParameter.OrderStatus).values()}"
                                                                th:value="${status.ordinal()}"
                                                                th:text="${status.text}"
                                                                th:selected="${status.equals(order.status)}">
                                                        </option>
                                                    </select>
                                                    <div class="input-group-append">
                                                        <button class="btn btn-sm btn-outline-secondary" type="submit" data-toggle="tooltip" title="Set Order Status">
                                                            <small>Set</small>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <p class="font-weight-light text-dark mt-3" sec:authorize="hasRole('USER')">
                                        <small class="font-weight-lighter">Amount: </small>€ <span th:text="${order.payment.getFormattedAmount()}"></span>
                                    </p>
                                </div>
                                <!-- collapse control -->
                                <div class="col-sm-12 mb-2">
                                    <a class="no-decoration font-weight-light text-info small my-0" data-toggle="collapse" th:href="'#body-' + ${order.id}">
                                        <span class="display-inline" th:id="'plus-' + ${order.id}"><i class="fas fa-angle-down mr-1"></i> more info</span>
                                        <span class="display-none" th:id="'minus-' + ${order.id}"><i class="fas fa-angle-up mr-1"></i> less info</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- collapsible info -->
                        <div class="col-sm-12 collapse" th:id="'body-' + ${order.id}">
                            <div class="row">
                                <!-- shipping info -->
                                <div class="col-sm-12">
                                    <div class="row">
                                        <!-- recipient -->
                                        <div class="col-sm-2 my-3">
                                            <p class="font-weight-light text-dark">
                                                <small class="font-weight-lighter">Deliver to: </small><span th:text="${order.shippingInfo.name}"></span>
                                            </p>
                                        </div>
                                        <!-- address -->
                                        <div class="col-sm-10 my-3">
                                            <p class="font-weight-light text-dark">
                                                <small class="font-weight-lighter">At: </small>
                                                <span th:text="${order.shippingInfo.address.line1}"></span>
                                                <span th:if="${order.shippingInfo.address.line2 ne null && !order.shippingInfo.address.line2.isBlank()}">- <span th:text="${order.shippingInfo.address.line2}"></span></span>
                                                <span> (
                                                    <span th:text="${order.shippingInfo.address.postalCode}"></span>, <span th:text="${order.shippingInfo.address.city}"></span>.
                                                    <span th:if="${order.shippingInfo.address.province ne null && !order.shippingInfo.address.province.isBlank()}"><span th:text="${order.shippingInfo.address.province}"></span>. </span>
                                                    <span th:text="${order.shippingInfo.address.country}"></span>
                                                    )</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- items info -->
                                <div class="col-sm-12">
                                    <!-- item -->
                                    <div class="row mb-3" th:each="sale : ${order.sales}">
                                        <!-- image -->
                                        <div class="col-sm-2">
                                            <a th:href="@{/book/{id}(id=${sale.book.id})}"><img class="img-64" th:src="@{/image/{id}(id=${sale.book.image.id})}" alt="book image"/></a>
                                        </div>
                                        <!-- book info -->
                                        <div class="col-sm-4">
                                            <!-- book title -->
                                            <a class="no-decoration text-info font-weight-light" th:href="@{/book/{id}(id=${sale.book.id})}">
                                                <p class="my-0" th:unless="${sale.book.title.isBlank()}">
                                                    <span th:text="${sale.book.title.substring(0, T(java.lang.Math).min(sale.book.title.length(), __${@environment.getProperty('fm.front-end.orders.title-max-size')}__))}">Book title</span>
                                                </p>
                                                <p class="my-0" th:if="${sale.book.title.isBlank()}">
                                                    <small><i>unknown title</i></small>
                                                </p>
                                            </a>
                                            <!-- isbn -->
                                            <p class="my-1 small text-dark">
                                                <span class="font-weight-lighter">ISBN </span><span th:text="${sale.book.isbn}"></span>
                                            </p>
                                        </div>
                                        <!-- price composition -->
                                        <div class="col-sm-3">
                                            <p class="my-0 small text-dark">
                                                <span th:text="${sale.quantity}"></span> x <span class="font-weight-lighter">€</span><span th:text="${sale.price}"></span>
                                            </p>
                                        </div>
                                        <!-- item price -->
                                        <div class="col-sm-3">
                                            <p class="text-dark font-weight-light">€ <span th:text="${sale.compoundPrice}">19.95</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- right margin -->
                <div class="col-sm-1"></div>
            </div>
            <!-- pagination -->
            <div class="row mt-3 mb-5">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <!-- pagination links -->
                    <div th:replace="fragments/components::paginationLinks"></div>
                    <!-- pagination legend -->
                    <div class="mt-2 text-center text-info">
                        <p th:replace="fragments/components::paginationLegend"></p>
                    </div>
                </div>
                <div class="col-sm-4"></div>
            </div>
        </div>
        <!-- footer -->
        <footer th:replace="fragments/components::footer"></footer>
        <script th:src="@{/js/collapsing.js}"></script>
        <!-- pagination functionality -->
        <a th:replace="fragments/components::paginationTrigger"></a>
        <i th:replace="fragments/components::paginationData"></i>
        <script th:src="@{/js/paginationLinks.js}"></script>
        <script th:src="@{/js/paginationControl.js}"></script>
    </body>
</html>