<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head th:replace="fragments/components::head('Edit Profile')"></head>
    <body>
        <!-- fm-content -->
        <div class="container-fluid fm-content">
            <div th:replace="fragments/components::header"></div>
            <!-- main categories -->
            <div th:replace="fragments/components::mainCatsNavBar"></div>
            <!-- title -->
            <div th:replace="fragments/components::title_1_10_1(text = ${user.profile.firstName} + '\'s Profile')"></div>
            <!-- main content -->
            <div class="row">
                <!-- left margin -->
                <div class="col-sm-1"></div>
                <!-- profile form -->
                <div class="col-sm-8 bg-white py-3">
                    <form class="needs-validation" novalidate th:action="@{/user/profileForm}" th:object="${profileForm}" method="POST" action="#">
                        <input type="hidden" th:field="*{profileId}"/>
                        <div th:replace="fragments/components::backendGenericObjectFieldErrors"></div>
                        <div class="form-row">
                            <div class="col-sm-6">
                                <!-------------------------------------------------------------------------firstname-->
                                <div class="form-group">
                                    <label class="small font-weight-lighter" for="firstName">First Name</label>
                                    <input class="form-control" type="text" th:field="*{firstName}" id="firstName" placeholder="enter firstName" th:pattern="${@environment.getProperty('fm.validation.regex.text-basic')}">
                                    <div class="invalid-feedback">Please fill out this field correctly</div>
                                </div>
                                <div th:replace="fragments/components::backendSpecificObjectFieldErrors('firstName')"></div>
                                <!------------------------------------------------------------------------- phone -->
                                <div class="form-group">
                                    <label class="small font-weight-lighter" for="phone">Phone Number</label>
                                    <input class="form-control" type="text" th:field="*{phone}" id="phone" placeholder="enter your phone number" th:pattern="${@environment.getProperty('fm.validation.regex.phone')}">
                                    <div class="invalid-feedback">Please fill out this field correctly</div>
                                </div>
                                <div th:replace="fragments/components::backendSpecificObjectFieldErrors('phone')"></div>
                            </div>
                            <div class="col-sm-6">
                                <!-------------------------------------------------------------------------lastname-->
                                <div class="form-group">
                                    <label class="small font-weight-lighter" for="lastName">Last Name</label>
                                    <input class="form-control" type="text" th:field="*{lastName}" id="lastName" placeholder="enter lastName" th:pattern="${@environment.getProperty('fm.validation.regex.text-basic')}">
                                    <div class="invalid-feedback">Please fill out this field correctly</div>
                                </div>
                                <div th:replace="fragments/components::backendSpecificObjectFieldErrors('lastName')"></div>
                                <!------------------------------------------------------------------------- gender -->
                                <div class="form-group">
                                    <label class="small font-weight-lighter" for="gender">Gender</label>
                                    <select class="custom-select" th:field="*{gender}" id="gender" >
                                        <option th:each="gen : ${T(misrraimsp.uned.pfg.firstmarket.config.staticParameter.Gender).values()}"
                                                th:value="${gen}"
                                                th:text="${gen.text}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <!------------------------------------------------------------------------- birthdate -->
                                <label class="small font-weight-lighter">Date of Birth</label>
                                <div class="input-group mb-3">
                                    <!-- year -->
                                    <select class="custom-select" th:field="*{year}" id="year" >
                                        <option th:each="y : ${T(java.util.stream.IntStream).rangeClosed(__${@environment.getProperty('fm.validation.numeric.profile-min-year')}__,T(java.time.Year).now().getValue()).boxed().sorted(T(java.util.Collections).reverseOrder()).collect(T(java.util.stream.Collectors).toList())}"
                                                th:value="${y}"
                                                th:text="${y}">
                                        </option>
                                    </select>
                                    <!-- month -->
                                    <select class="custom-select" th:field="*{month}" id="month" >
                                        <option th:each="m : ${T(java.time.Month).values()}"
                                                th:value="${m}"
                                                th:text="${m.getDisplayName('SHORT', 'ROOT')}">
                                        </option>
                                    </select>
                                    <!-- day -->
                                    <select class="custom-select" th:field="*{day}" id="day" >
                                        <option th:each="d : ${T(java.util.stream.IntStream).rangeClosed(1,31).boxed().collect(T(java.util.stream.Collectors).toList())}"
                                                th:value="${d}"
                                                th:text="${d}">
                                        </option>
                                    </select>
                                </div>
                                <div th:replace="fragments/components::backendSpecificObjectFieldErrors('year')"></div>
                            </div>
                            <!-- submit or cancel -->
                            <div class="col-sm-12 d-flex align-items-end">
                                <button th:replace="fragments/components::submitButton(text = 'Save')"></button>
                                <div class="ml-auto">
                                    <a th:replace="fragments/components::cancelButtonToHome(text = 'Cancel')"></a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- action buttons -->
                <div class="col-sm-2 d-flex flex-column pb-3">
                    <!-- edit email button -->
                    <div class="mt-0 mb-2">
                        <a class="btn btn-sm btn-outline-dark btn-block font-weight-light" th:href="@{/user/editEmail}">Change Email</a>
                    </div>
                    <!-- edit password button -->
                    <div class="my-2">
                        <a class="btn btn-sm btn-outline-dark btn-block font-weight-light" th:href="@{/editPassword}">Change Password</a>
                    </div>
                    <!-- delete account button -->
                    <div class="mt-auto">
                        <a class="btn btn-sm btn-outline-danger btn-block font-weight-lighter" th:href="@{/user/deleteUser}"><small>Delete Account</small></a>
                    </div>
                </div>
                <!-- right margin -->
                <div class="col-sm-1"></div>
            </div>
        </div>
        <!-- footer -->
        <footer th:replace="fragments/components::footer"></footer>
        <script th:src="@{/js/disableFormSubmissionOnInvalidField.js}"></script>
    </body>
</html>