<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head>
        <meta charset="UTF-8">
        <title>User Registration</title>
        <link rel="stylesheet" th:href="@{/styles.css}" />
    </head>
    <body>
        <h1>Register</h1>
        <p><a th:href="@{/}">go back</a></p>
        <form action="#" th:action="@{/register}" th:object="${registrationInfo}" method="POST" id="registerForm">
            <div th:if="${#fields.hasErrors()}">
                <span class="validationError">Please correct the problems below and resubmit.</span>
            </div><br/>
        <fieldset>
            <legend>Registration Form</legend>
            <div>
                <span>Username: <input type="text" th:field="*{username}"/></span>
                <span class="validationError" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">username Error</span>
            </div><br/>
            <div>
                <span>Password: <input type="password" th:field="*{password}"/></span>
                <span class="validationError" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password Error</span>
            </div><br/>
            <!-- TODO: confirm password functionality
            <div>
                <span>Confirm password: <input type="password" th:field="*{confirmPassword}"/></span>
                <span class="validationError" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">confirmPassword Error</span>
            </div><br/>
            -->
            <div>
                <span>Full Name: <input type="text" th:field="*{fullName}"/></span>
                <span class="validationError" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">fullName Error</span>
            </div><br/>
            <div>
                <span>Street: <input type="text" th:field="*{street}"/></span>
                <span class="validationError" th:if="${#fields.hasErrors('street')}" th:errors="*{street}">street Error</span>
            </div><br/>
            <div>
                <span>City: <input type="text" th:field="*{city}"/></span>
                <span class="validationError" th:if="${#fields.hasErrors('city')}" th:errors="*{city}">city Error</span>
            </div><br/>
            <div>
                <span>ZIP: <input type="text" th:field="*{zip}"/></span>
                <span class="validationError" th:if="${#fields.hasErrors('zip')}" th:errors="*{zip}">zip Error</span>
            </div><br/>
            <div>
                <span>Phone Number: <input type="text" th:field="*{phoneNumber}"/></span>
                <span class="validationError" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">phoneNumber Error</span>
            </div><br/>
            <div>
                <span><input type="submit" value="Register"/></span>
            </div>
        </fieldset>
        </form>
    </body>
</html>