<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head>
        <meta charset="UTF-8">
        <title>User Registration</title>
        <!--<link type="text/css" rel="stylesheet" th:href="@{fmstyle.css}" />-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                <li class="breadcrumb-item active">Registration</li>
            </ul>
            <h1>Registration</h1>
            <form action="#" th:action="@{/register}" th:object="${user}" method="POST" id="registerForm" class="needs-validation" novalidate>
                <!--<div class="ServerValidationError" th:if="${#fields.hasErrors()}">
                    <span>Please correct the problems below and resubmit.</span>
                </div>-->
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" th:field="*{username}" class="form-control" id="username" placeholder="enter username" name="username" required>
                    <div class="invalid-feedback">Please fill out this field.</div>
                    <!--<span class="ServerValidationError" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">username Error</span>-->
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="text" th:field="*{password}" class="form-control" id="password" placeholder="enter password" name="password" required>
                    <div class="invalid-feedback">Please fill out this field.</div>
                    <!--<span class="ServerValidationError" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password Error</span>-->
                </div>
                <!-- TODO: confirm password functionality -->
                <div class="form-group">
                    <label for="firstName">First Name:</label>
                    <input type="text" th:field="*{firstName}" class="form-control" id="firstName" placeholder="enter firstName" name="firstName" required>
                    <div class="invalid-feedback">Please fill out this field.</div>
                    <!--<span class="ServerValidationError" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">firstName Error</span>-->
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name:</label>
                    <input type="text" th:field="*{lastName}" class="form-control" id="lastName" placeholder="enter lastName" name="lastName" required>
                    <div class="invalid-feedback">Please fill out this field.</div>
                    <!--<span class="ServerValidationError" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">lastName Error</span>-->
                </div>
                <div class="form-group">
                    <label for="email">E-mail:</label>
                    <input type="text" th:field="*{email}" class="form-control" id="email" placeholder="enter email" name="email" required>
                    <div class="invalid-feedback">Please fill out this field.</div>
                    <!--<span class="ServerValidationError" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email Error</span>-->
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
        <script>
            // Disable form submissions if there are invalid fields
            (function() {
                'use strict';
                window.addEventListener('load', function() {
                    // Get the forms we want to add validation styles to
                    var forms = document.getElementsByClassName('needs-validation');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function(form) {
                        form.addEventListener('submit', function(event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);
            })();
        </script>
    </body>
</html>