<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head th:replace="fragments/components::head('Reset Password')"></head>
    <body>
        <!-- fm-content -->
        <div class="container-fluid fm-content">
            <!-- header -->
            <header th:replace="fragments/components::header"></header>
            <!-- main categories -->
            <div th:replace="fragments/components::mainCatsNavBar"></div>
            <!-- title -->
            <div th:replace="fragments/components::title(text = 'Reset Password')"></div>
            <!-- Content -->
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <hr class="mb-4 mt-0"/>
                    <div>
                        <p class="px-2">You should have received an email with the reset password.</p>
                        <p class="px-2">We strongly recommend that you replace the password provided with a new one.</p>
                        <p class="px-2"><span th:replace="fragments/components::contactUs"></span></p>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>
        <!-- footer -->
        <footer th:replace="fragments/components::footer"></footer>
    </body>
</html>