<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head th:replace="fragments/components::head('Reset Password')"></head>
    <body>
        <!-- fm-content -->
        <div class="container-fluid fm-content">
            <!-- header -->
            <header th:replace="fragments/components::header"></header>
            <!-- main categories -->
            <div th:replace="fragments/components::mainCatsNavBar"></div>
            <!-- title -->
            <div th:replace="fragments/components::title(text = 'Reset Password')"></div>
            <!-- main content -->
            <div class="row">
                <div class="col-sm-3 bg-white"></div>
                <div class="col-sm-6 bg-light">
                    <div th:replace="fragments/components::backendRequestParamError"></div>
                    <form class="needs-validation" novalidate id="form" th:action="@{/resetPassword}" method="POST" action="#">
                        <!-- email -->
                        <div class="form-group">
                            <label for="email">E-mail:</label>
                            <input class="form-control" type="email" name="email" id="email" placeholder="enter your email" required th:pattern="${@environment.getProperty('fm.validation.regex.email')}">
                            <div class="invalid-feedback">Please fill out this field with your email</div>
                        </div>
                        <!-- save or cancel -->
                        <button th:replace="fragments/components::saveButton"></button>
                        <a th:replace="fragments/components::cancelButtonToHome"></a>
                    </form>
                </div>
                <div class="col-sm-3 bg-white"></div>
            </div>
        </div>
        <!-- footer -->
        <footer th:replace="fragments/components::footer"></footer>
        <script th:src="@{/js/disableFormSubmissionOnInvalidField.js}"></script>
    </body>
</html>