<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head th:replace="fragments/layout::head('Search')"></head>
    <body>
        <div class="container-fluid bg-light">
            <!-- layout::header -->
            <div th:replace="fragments/layout::header"></div>

            <!-- main content -->
            <div class="row mt-4">
                <!-- left margin
                <div class="col-sm-1"></div>-->
                <!-- SEARCH CRITERIA  -->
                <a style="display: none" id="trigger"></a>
                <div class="col-sm-3 my-3">
                    <button class="accordion" id="category-acc">Category</button>
                    <div class="panel">
                        <div class="my-3" th:each="cat : ${childrenCategories}">
                            <a class="text-dark" th:href="@{/books?categoryId={categoryId}(categoryId=${cat.id})}" th:text="${cat.name}">Category Name</a>
                        </div>
                    </div>
                    <button class="accordion">Price</button>
                    <div class="panel">
                        <div class="custom-control custom-checkbox my-3" th:each="price : ${prices}">
                            <input class="custom-control-input" type="checkbox" th:id="'pr-' + ${price.ordinal()}" />
                            <label class="custom-control-label" th:for="'pr-' + ${price.ordinal()}" th:text="${price.getText()}">€ interval</label>
                        </div>
                    </div>
                    <button class="accordion" id="author-acc">Author</button>
                    <div class="panel">
                        <div class="custom-control custom-checkbox my-3" th:each="author : ${authors}">
                            <input class="authorCriteria custom-control-input" type="checkbox" th:id="'au-' + ${author.id}" />
                            <label class="custom-control-label" th:for="'au-' + ${author.id}" th:text="${author.lastName} + ', ' + ${author.firstName}">Author</label>
                        </div>
                    </div>
                    <button class="accordion">Publisher</button>
                    <div class="panel">
                        <div class="custom-control custom-checkbox my-3" th:each="publisher : ${publishers}">
                            <input class="custom-control-input" type="checkbox" th:id="'pu-' + ${publisher.id}" />
                            <label class="custom-control-label" th:for="'pu-' + ${publisher.id}" th:text="${publisher.name}">Publisher</label>
                        </div>
                    </div>
                    <button class="accordion">Language</button>
                    <div class="panel">
                        <div class="custom-control custom-checkbox my-3" th:each="language : ${languages}">
                            <input class="custom-control-input" type="checkbox" th:id="'la-' + ${language.ordinal()}" />
                            <label class="custom-control-label" th:for="'la-' + ${language.ordinal()}" th:text="${language.name()}">Language</label>
                        </div>
                    </div>
                </div>
                <!-- SEARCH RESULTS  -->
                <div class="col-sm-8">
                    <div class="row d-flex flex-column">
                        <div class="col-sm-12" th:each="book : ${pageOfBooks}">
                            <div class="row my-3">
                                <div class="col-sm-3 bg-white">
                                    <a th:href="@{/book/{id}(id=${book.id})}"><img class="img-fluid my-3" th:src="@{/image/{id}(id=${book.image.id})}"/></a>
                                </div>
                                <div class="col-sm-6 bg-white">
                                    <a th:href="@{/book/{id}(id=${book.id})}"><p class="text-responsive font-weight-bold mt-3" th:text="${book.title}">title</p></a>
                                    <p><strong><span th:text="${book.authorsString}"></span></strong></p>
                                    <p><small>Published by </small><strong><span th:text="${book.publisher.name}"></span></strong></p>
                                    <p class="my-0"><small><span th:text="${book.language}"></span></small></p>
                                    <p class="my-0"><small><span th:text="${book.category.name}"></span></small></p>
                                    <p class="mb-3"><small>ISBN-<span th:text="${book.isbn}"></span></small></p>
                                </div>
                                <div class="col-sm-3 bg-white">
                                    <div class="row d-flex flex-column">
                                        <div class="col-sm-12 my-3">
                                            <a class="btn btn-outline-info btn-lg align-center" th:href="@{/user/addBook/{id}(id=${book.id})}" data-toggle="tooltip" title="Add to Cart">
                                                <!--Add to Cart<i class="fas fa-cart-plus fa-2x"></i>-->
                                                Add to Cart<i class="fas fa-cart-plus ml-2"></i>
                                            </a>
                                        </div>
                                        <div class="col-sm-12">
                                            <p><strong>EUR <span th:text="${book.price}"></span></strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- pagination -->
                    <div class="row mt-4">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <div th:replace="fragments/components::paginationLinks"></div>
                            <p th:replace="fragments/components::paginationLegend"></p>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                </div>
                <!-- right margin  -->
                <div class="col-sm-1"></div>
            </div>
            <!-- layout::footer -->
            <div th:replace="fragments/layout::footer"></div>
            <script th:src="@{/js/ajaxCart.js}"></script>
            <script th:src="@{/js/accordion.js}"></script>
            <script th:src="@{/js/searchCriteria.js}"></script>
            <script th:replace="fragments/components::paginationMvcVariables"></script>
            <script th:src="@{/js/paginationLinks.js}"></script>
            <script th:src="@{/js/paginationLegend.js}"></script>
        </div>
    </body>
</html>