<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head th:replace="fragments/components::head('Success')"></head>
    <body>
        <!-- fm-content -->
        <div class="container-fluid fm-content">
            <!-- header -->
            <header th:replace="fragments/components::header"></header>
            <!-- main categories -->
            <div th:replace="fragments/components::mainCatsNavBar"></div>
            <!-- title -->
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="text-center text-info my-4">Congratulations!</h2>
                </div>
            </div>
            <!-- Content -->
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <hr class="mb-4 mt-0"/>
                    <div class="bg-light">
                        <p class="px-2">Your purchase has been successfully completed! Soon you'll receive a confirmation email.</p>
                        <p class="px-2 small"><span th:replace="fragments/components::contactUs"></span></p>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>
        <!-- footer -->
        <footer th:replace="fragments/components::footer"></footer>
    </body>
</html>