<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  lang="en">
	<head th:replace="fragments::head"></head>
	<body>

		<div th:if="${message}">
			<h2 th:text="${message}"/>
		</div>

		<div>
			<form action="#" th:action="@{/admin/uploads}" enctype="multipart/form-data" method="POST">
				<table>
					<tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
					<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
				</table>
			</form>
		</div>

		<div>
			<ul>
				<li th:each="file : ${files}">
					<a th:href="${file}" th:text="${file}" />
				</li>
			</ul>
		</div>

	</body>
</html>
