<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head></head>
    <body>
        <h2>Welcome to FirstMarket</h2>
        <hr/>
        <p>Dear <span th:text="${user.profile.firstName ne null && !user.profile.firstName.isBlank()} ? ${user.profile.firstName} : 'user'"></span>,</p>
        <p>Welcome to <strong>FirstMarket</strong>, your account has been activated successfully.</p>
        <small>If you need help, please contact us at <em th:text="${contactAddress}">email</em></small>
    </body>
</html>